[2020-03-23 06:43] tomheller commented on #772
@hubert-grininger Could you please check the provided link to the stackblitz example? When I open it, it points to our default example. Which seems to work fine.
<img width="1676" alt="image" src="https://user-images.githubusercontent.com/6338434/77289297-f9a0f600-6cd9-11ea-9a2a-28b8dad8ac06.png">

[2020-03-23 06:50] hubert-grininger commented on #772
Sorry, was too stupid to fork correctly:

Hopefully this works now:
https://stackblitz.com/edit/github-slwyzc-neytpd?embed=1&file=src/overlay/overlay-complex-content-example/overlay-complex-content-example.html

[2020-03-23 07:02] tomheller commented on #772
@hubert-grininger No worries, forking in stackblitz is really weird. The example now works and in chrome it also shows the faulty behavior. It seems to work in firefox, which does not make me happy 😭.
(Probably relates to #671)

[2020-03-23 07:55] ffriedl89 commented on #772
Thanks @hubert-grininger for reaching out, I already have an idea on how to fix this - it is connected to our faulty MouseFollowPositionStrategy. I'll take a look and try to fix this once and for all.
I've already synced with @dynatrace-oss/ux-core and we agreed to not use the follow strategy anymore and switch to a static overlay. This should also fix this issue.

[2020-03-23 09:24] lukasholzer commented on #760
Should be fixed with #773 @rowa-audil please check.

[2020-03-23 10:31] ffriedl89 opened #774 "Adjust browserlist in package json to correct values"
# Bug Report

Currently our browserlist is out of sync with the latest values for our product.

This would be the correct list

"chrome >= 51",
"firefox >= 54",
"edge >= 15",
"safari >= 10",
"last 2 and_chr version"

[2020-03-23 10:34] DorotkaMakotka commented on #774
I'll take it!

[2020-03-23 10:46] OFouda commented on #726
hi guys, would just like to add that I've also run into this a few times. its now more evident with UI tests since my test always fails because it tries to select the filter option too fast

[2020-03-23 13:20] ffriedl89 opened #785 "Release bot action - Post changelog on slack"
# Feature Request

## Summary

I want to have a bot that posts a message into our channel once a release is done on github containing the changelog.

## Feature Description

We can leverage the same webhook we already have for the reminder in our team channel on slack. See the https://github.com/dynatrace-oss/barista/blob/master/.github/workflows/slack-barista-production-promotion.yml action. Ther

[2020-03-23 15:23] subarroca opened #786 "Sunburst chart"
# Feature Request

## Summary

Drill down pie chart with multiple levels

## Feature Description

Initial view: One

-  level (typical) pie chart.
- On clicking in one of the slices a new outer arc appears delimited by the angles of the parent.
- This drilldown should keep happening for multiple levels
-
- When selecting a segment:
1. initial level should be greyed out
2. all the ancestors should

[2020-03-23 16:32] subarroca commented on #786
I already started implementing this one

[2020-03-24 06:28] tomheller commented on #726
We have run into the same issue with the UI tests. But with the current architecture of the filter-field and how it relies on the angular change detection, this is really hard to fix. We had to resort to slow down our filter-field tests that check the behavior here.

https://github.com/dynatrace-oss/barista/blob/9f3c0478d0ba12f28f8eb20fc10bcdeb768012f3/apps/components-e2e/src/components/filter-fie

[2020-03-24 06:33] OFouda commented on #726
I understand, I have also added a delay to my UI test but thought to bring it up here since I have also manually run into the issue a couple of times.
Thanks for looking into it

[2020-03-24 07:03] tomheller commented on #726
@OFouda You are right to bring that up, and to be quite honest, we have also manually ran into this issue manually.
My current approach would be to eliminate the internal representation of the inputValue and rely on the value of the nativeElement. This could lead to some synchronizing problems between ChangeDetection update cycles and native inputs value updates. I have a draft of the changes read

[2020-03-24 07:09] tomheller commented on #786
Hi @subarroca! This feature request for a sunburst chart looks amazing and also that you are already taking care of contributing this one makes us extremely happy 😄 .

When you have a decent understanding of how the API for this component would look like, it would be great if you could outline it here as sort of an API proposal.

For completely new components we like to do this to make sure that w

[2020-03-24 11:17] ffriedl89 opened #788 "A11y: Expandables (section, panel, trigger) lack aria properties"
# Bug Report

The expandable trigger lacks the correct aria attributes.

## Expected Behavior

Expandable trigger:
The trigger should have the `aria-controls` property set to the id of the expandable panel it controls.
The trigger should also have the `aria-expanded` set depending on the expand state of the panel.

This is also expected to behave correctly in the expandable panel, but this should

[2020-03-24 13:20] #726 closed

[2020-03-24 13:29] #692 closed

[2020-03-24 13:53] #77 closed

[2020-03-24 14:23] subarroca commented on #786
[code]

## inputs
**data: SunburstNode[]** whole tree of information. For every node either children or amount should be provided. Amounts will be calculated based on children's values
**selected: Array<string,string|number|boolean>[]** Ordered array of [filterKey,filterValue]
**disabled:boolean** if the component should be disabled (default:false)

## outputs
**selectedChange: EventEmitter<{[key:

[2020-03-24 14:50] ffriedl89 commented on #786
Hey @subarroca thanks for the api proposal!

A couple of thoughts:

1. Inputs
1.1 data
I'd suggest the name `series` since we have this in other charts already.
For the type `SunburstNode` please prefix the type with `Dt`.
I think we can omit the filterValue and filterKey properties on the type. More on that later - because I think we can remove the `SunburstStep` type.
1.2 selected
I think the ty

[2020-03-24 15:20] subarroca commented on #786
✅ prefix with Dt
✅ `series` better than `data`
✅ remove disabled
✅ complete node for `selected` and `selectedChange`

About this selected, the original series is a tree. Would you prefer to keep the tree structure or an array of ordered nodes?
Also, as one of the use cases is done to filter visually, it would make sense to return a  `{[filterKey]:[filterValue]}`. Would you provide it in a separate

[2020-03-24 15:26] subarroca commented on #786
Also 2 more inputs should be added
* **allTitle**: for the initial 'All' that should be i18n
* **percent**: to indicate if the values should be shown in percentage instead of absolute

[2020-03-24 15:45] ffriedl89 opened #790 "Publish release script does not work with generated changelog layout"
# Bug Report

Currently our changelog generates a layout for the new version with
[code]
and it appends it to the bottom of the file.

- [ ] Fix that the changelog is appended to the top of the file instead of the bottom
- [ ] Adjust the regex in the extract release notes script to match the new layout

[2020-03-25 00:13] #577 closed

[2020-03-25 00:13] #99 closed

[2020-03-25 07:02] tomheller commented on #786
This one looks already pretty good. A couple of things I would like to discuss though:

### SunburstNode
Could you explain why the value is optional in this one? I assume that a chart element will need a value to justify its existence?

### SelectedChange
I agree with @ffriedl89 here that this could be of type `Eventemitter<DtSunburstNode[]>`. Even if the inner elements contain a lot of children,

[2020-03-25 08:12] subarroca commented on #786
* The value is optional only if you have children, because we can build those values up, so in the end this chart will have all the values but the user doesn't need to provide values for all of them

* selectedChange will be a tree with only one child per node, so we can have the whole path.  Is that ok? Also it would make sense to return a `{[filterKey]:[filterValue]}`. Would you provide it in a

[2020-03-25 09:19] ffriedl89 commented on #786
I think this is also problematic since you can't do an equals check from the node you get back from the event with the node that you passed into the series.

I would go a route where you return an array containing the node for each layer selected.

So think about a series like:
[code]
So if a user selects Chrome 80 the event would have the following array as the payload :
[code]

[2020-03-25 09:31] kathrin-aigner commented on #786
lgtm! :)

[2020-03-25 09:59] subarroca commented on #786
As a compilation, I think the API should be:

[code]

## inputs
**series: DtSunburstNode[]** whole tree of information. For every node either children or amount should be provided. Amounts will be calculated based on children's values
**selected: DtSunburstNode[]** Ordered array of `DtSunburstNode`. (i.e. [A, A.a, A.a.1])
**noSelectionLabel: string** Label to be shown when there's no selection (i.

[2020-03-25 10:05] #750 closed

[2020-03-25 11:39] #774 closed

[2020-03-25 13:05] ffriedl89 commented on #786
Two small thing i think you missed is the removal of the filterValue and filterKey ;) There is no need since there is no pairs output anymore.

In think we can use a uniontype `'absolute' | 'percent'` and don't need an enum for that

[2020-03-25 14:53] subarroca commented on #786
Since we want to use this object to be able to filter I think it's good we keep `filterValue` and `filterKey` though we could also think of it as an extension, but as far as I've seen this could be very useful

About the enum. Usually when we want to use things from barista in our code we usually need some of those enums and we end up by replicating them in our code so I'm in favor of keeping thos

[2020-03-26 09:16] lukasholzer opened #796 "Barista: Refactor TOC and scrollspy"
# Feature Request

Currently, the scroll spy logic and the table of contents generation is copied from angular.io and is not meant to be used with server-side rendering.
Furthermore, the logic is way to complex and overengineered.

We should simplify the logic in there and make it better universal compatible. (No window access allowed - SSR needs to work - ng build barista-design-system needs to p

[2020-03-26 10:25] tomheller commented on #786
I don't think that every consumer of the sunburst chart would need the `filterValue` and `filterKey`. I personally would opt to not include them in the standard interface provided by the component library. If a consumer needs them, they still can extend from the SunburstNode interface and add their own filters.

Why do you need to recreate the enums? I guess I don't quite understand why you would

[2020-03-26 10:54] ffriedl89 commented on #786
I totally agree with @tomheller about the `filterValue` and `filterrKey` - we don't need it for the component therefore it does not make sense to force the consumer to have these fields in there. It's quite counterintuitive. If you have a usecase for your code you can always extend from the interfaces provided in your code.

Regarding enums:
Enums bloat bundles quite a lot if not made constant. We

[2020-03-26 12:30] subarroca commented on #786
Ok about removing `filterKey` and `filterValue` but then we'll depend just on the label to identify a node on each level. So we would not have 'Chrome', 'Chrome', 'Internet Explorer' but just one 'Chrome', which makes sense to me.

About the enums. We try to avoid hardcoding strings in our code, so if barista exported those enums we could do
[code]
instead of
[code]
We've been dealing with that in

[2020-03-26 12:45] tomheller commented on #786
we have found during iterations of the filter field that the data passed into the system is very versatile. By creating a base `SunburstNode` interface that contains everything that the component itself needs to display the sunburst and let the consumer extend it with whatever metadata or identification data without forcing them to use `id` or any other specific name will probably enable a lot of

[2020-03-26 12:50] subarroca commented on #786
I get it, but we also need a way to match the input of `selected` with the the nodes in `series`, that's what my comment was about. I'm ok with removing `filterKey` and `filterValue` but then we can only verify with `label` which is ok but then siblings cannot repeat labels, which makes sense to me but we have to be conscious of that

[2020-03-26 14:17] lukasholzer opened #798 "Barista: Universal renderer throws console error with IconColorWheel"
# Bug Report

Barista Universal rendering is throwing an error when rendering the icon colour wheel (console error):

![image](https://user-images.githubusercontent.com/11156362/77656576-5cadb980-6f74-11ea-9dea-f3ca5e40fcfd.png)

## Steps to Reproduce

1. `npm run examples-tools`
2. `npm run barista-tools`
3. `ng build workspace`
4. `ng run barista-design-system:render:production`

Nevertheless, t

[2020-03-26 14:19] lukasholzer opened #799 "Barista: No routes are generated for the overview pages in the navigation."
# Bug Report

No pages are rendered for the overview pages like `/components` this is because no entry is in the routes.txt file.

if navigation is directly performed to `barista.lab.dynatrace.org/components` it does not work only through the hydration.

[2020-03-26 14:23] lukasholzer opened #800 "Barista: Page is blocked from indexing"
# Bug Report

According to Google Lighthouse audit the page is blocked from indexing:

https://web.dev/is-crawable?utm_source=lighthouse&utm_medium=cli

![image](https://user-images.githubusercontent.com/11156362/77657423-93380400-6f75-11ea-8d4b-a32f859ee5bb.png)

[2020-03-27 06:42] lukasholzer opened #801 "CI: Calculate affected args with a retry on 404"
# Feature Request

Currently, the CI fails on a stage when it cannot calculate the affected args because the GitHub API returns undefined or null for the base branch SHA.

Move the calculation from the bash script inside the circleci yml to a script that can be evaluated with `ts-node`. That stores the affected args in the $BASH_ENV exactly like the bash scripts but with a gracefully fallback and

[2020-03-27 08:35] ffriedl89 commented on #800
Which site are you referring to?

[2020-03-30 08:51] ffriedl89 commented on #786
@subarroca you can also do an instance check for the selected since we are returning the same object :)

[2020-03-31 08:25] #476 closed

[2020-03-31 08:55] #772 closed

[2020-04-02 05:46] lukasholzer commented on #644
I think this does not occurred anzmore so we can close it.

[2020-04-02 05:46] #644 closed

[2020-04-02 07:18] tomheller commented on #800
The `x-robots: noindex` is only set for staging builds on zeit, to not index staging environments (which seems to be a good thing).
The header tag is not present on the `production` system.

[2020-04-02 07:18] #800 closed

[2020-04-02 07:29] #680 closed

[2020-04-02 10:09] #785 closed

[2020-04-02 13:09] ffriedl89 commented on #739
Size of button.js in the esm2015 modules is 242kb - lets compare afterwards

[2020-04-03 05:42] tomheller commented on #760
I have checked, it is fixed with #773

[2020-04-03 05:42] #760 closed

[2020-04-03 06:59] tomheller commented on #679
We will need to add the algolia logo next to the search, once we have integrated it.
https://www.algolia.com/press/?section=brand-guidelines

[2020-04-04 00:10] #618 closed

[2020-04-06 08:50] ffriedl89 commented on #677
After further discussion - the page is a bit off when placed inside resources. The most obvious place for me was inside the getting started section.

[2020-04-06 09:53] thomaspink opened #827 "Align sizing of dt-icons with pattern guideline."
Currently the size of a `dt-icon` is handled by the consumer by either setting the size of the container element in which the icon is rendered (the dt-icon takes the space it gets) or via css.

This leads to a non-uniform way of different icon sizes (every consumer can define it's own size depending on its use-case) and contradicts the pattern that icons can only have one of a specified [set of si

[2020-04-06 10:03] thomaspink opened #828 "Open active section in secondary-nav on init"
Right now, every consumer has implement a way to open the section of an item that has been set to active by their own. This should be handled by the component, because as it looks like this is a default behaviour most (every) consumers implement.

Proposal:
A section should automatically expand if it contains an active item (link) on init.

Code-wise adding this feature can be tricky because first

[2020-04-06 10:03] thomaspink commented on #828
cc @areknow

[2020-04-06 14:09] areknow commented on #828
@thomaspink this behavior is included in the PR with the breaking change to the component 👍

[2020-04-06 14:12] thomaspink commented on #828
Great to hear. Thanks a lot

[2020-04-07 05:56] tomheller opened #835 "Update barista-icons peer dependency to 5.0.0"
The barista icons package has released a breaking version and is now on version 5.0.0

When releasing the library version 7.0.0 we should upgrade our peer-dependency to be at least at major version 5 here:
https://github.com/dynatrace-oss/barista/blob/master/libs/barista-components/package.json#L25

[2020-04-07 08:48] bardosmisi opened #836 "Implement e2e tests for the slider component."
# Feature Request

The slider component currently only has a dummy empty e2e test, which is a good base to start implementing meaningful e2e test cases.

## Feature Description

- Problem: The slider component does not have good, meaningful e2e test cases implemented.

- Solutions: Think about good possible test cases and implement them in the already implemented base test case.

[2020-04-07 10:14] rowa-audil commented on #798
I cannot reproduce the bug when going over these steps.
Magically fixed??

[2020-04-07 10:46] #788 closed

[2020-04-07 10:47] #677 closed

[2020-04-07 10:58] ffriedl89 opened #838 "Cleanup filter field tests"
We should aim to reduce boilerplate and don't repeat ourselves as much as we currently do in the filter-field.spec.ts.

Combine calls for zone management and logic into reusable functions to avoid repetition.

Goal:
- [ ] Create reusable functions for repeated code parts (e.g. focus, selecting an option, ...)
- [ ] All tests still pass for the filter field

[2020-04-07 11:30] #732 closed

[2020-04-07 15:04] evan-bradley opened #840 "Filter field: autocomplete stays open when clicking into another filter field"
# Bug Report

## Expected Behavior

The autocomplete in a filter field should close when clicking into another filter field, just like it would for anywhere else in the page.

## Current Behavior

When clicking directly into two filter fields, the autocomplete menus for both will be open.

## Possible Solution

This likely sources from the filter field swallowing the click event in the [_handleHos

[2020-04-08 00:07] #670 closed

[2020-04-08 00:07] #47 closed

[2020-04-08 06:32] tomheller commented on #840
Hey @evan-bradley !
Thank you for reporting this, I was also able to reproduce this in our development environment, and you are right that it is probably the outsideClick handling that is preventing it from closing.

We have had some focus management issues with the filter field in the past and sadly it's not as trivial, but we will look into this problem.

[2020-04-08 07:25] madina705 opened #843 "DrawerTable: there is no way to close the drawer on a small-screen and animation of closing needs to be fixed"
Currently in the dt-drawer-table component there is no way to close on a small-screen since drawer content overlays the table and close was only possible by clicking on the current row. One of the possible solutions is to add default close button to the content of the drawer.

Moreover, closing animation should also be fixed. The animation is broken, because we don't how wide the drawer can get.

[2020-04-08 08:59] tomheller opened #847 "Design token interface"
With the introduction of design tokens to our library, we should also make the tokens and their values more apparent and easily testable without needing to change the yaml file definitions to see the results.

I am proposing to create an additional application within the repository, that targets the visualisation and customisation of the design tokens (with a primary focus on the colors and palett

[2020-04-08 11:06] peter-affenzeller commented on #561
I started working on this, will keep you posted!

[2020-04-08 15:21] evan-bradley opened #848 "Filter field: allow programmatically adding disabled tags"
# Feature Request

## Summary

It would be helpful to allow for disabling tags when being programmatically adding them to a filter field.

## Feature Description

### Problem
Currently tags can be programmatically added to the filter field, and can be disabled using instances given by the `currentTags` observable. However, in our usage, this causes issues with change detection (which we worked aro

[2020-04-09 07:49] ffriedl89 commented on #848
Hey @evan-bradley, thanks for reaching out.
We have an example here https://barista.dynatrace.com/components/filter-field#readonly-non-deletable-non-editable-tags that sets the tag initially to non-editable and non-deleteable.
[code]
You are correct that change detection needs another run to pick up the changes, by marking the component as dirty with a call to markForCheck this should work fine :)

[2020-04-09 08:46] tomheller commented on #745
@ffriedl89 @Sherif-Elhefnawy I guess this has been solved by #816 as well?
Can we close this issue?

[2020-04-09 08:48] Sherif-Elhefnawy commented on #745
@tomheller , the selectionArea doesn't have that ESC behavior yet unfortunately

[2020-04-09 08:48] tomheller commented on #544
@lukasholzer would you consider the investigation done? Can we close this issue?

[2020-04-09 08:49] tomheller commented on #745
Thank you for clarifying, I'll adjust the issue accordingly to not be misleading.

[2020-04-09 08:50] lukasholzer commented on #544
The investigation is done but we should create a discussion about how we want to proceed with that issue.

[2020-04-09 08:55] lukasholzer commented on #847
That's is a great idea in my opinion! So the application is running the functionality of the "builder" in a kind of serve mode to adapt the output on the fly and you can update the values with some kind of input fields?

We should then think about implementing the WCAG standards so that if you update a value it shows wich WCAG standards would be fulfilled.

[2020-04-09 09:02] lukasholzer commented on #843
Thank you very much for pointing this out.
I think the best solution would be to add an input on the drawer that disables the `overmode` for small screens.

Because I think from a UX perspective we should create an exception for the drawer table here.
This means that the drawer in the drawer table always draws the content to the side instead of overlaying on smaller screens like it is currently.

[2020-04-09 09:04] #799 closed

[2020-04-09 09:14] ffriedl89 opened #853 "Cleanup deprecations for 7.0"
We missed some deprecations for 6.0 and there are some to be removed for 7.0.

Cleanup those deprecations.

[2020-04-09 09:33] tomheller commented on #544
Could you please do that or rephrase the issue so that the status of it is clear.

[2020-04-09 10:18] tomheller commented on #847
The conversion should be pure functions that get inputs and deliver outputs that the builder and the application can leverage. There is no need to run the builder in a `server` mode, imho.

[2020-04-09 11:18] lukasholzer commented on #853
when do we plan the 7.0.0 milestone?

[2020-04-10 05:27] tomheller commented on #827
@dynatrace-oss/ux-core Do you have any opinions on that one. Do we want to limit the sizes of icons to the ones listed on guidelines @thomaspink shared?

[2020-04-10 07:44] tomheller opened #858 "FilterField: Missing documentation on validators"
The validator feature exists for free text filter validations, but there is no example or documentation on how this can be done.

This documentation should be added.

[2020-04-10 08:30] #729 closed

[2020-04-13 12:16] lukett89 commented on #673
**API Proposal DtSlider**
<small description>

**Advanced structure**
[code]

**Inputs**

| Name  | Type | Description |
| ------------- | ------------- | ------------- |
| `value` | `string`  | Initial value for the input |
| `placeholder`  | `string` | Placeholder for the input  |

**Outputs**

| Name  | Type | Description |
| ------------- | ------------- | ------------- |
| `valueChanges` | `E

[2020-04-13 18:29] tcarrio opened #866 "Make select placeholder more obviously a placeholder"
# Feature Request

Stylized placeholder in DtSelect component

## Summary

The Barista select component currently allows for a placeholder when an option has not been selected. However, the styling of the placeholder is the same as the actual options, which can cause confusion for users because there is no visual queue to select an option.

## Feature Description

Problem: Users do not have a visu

[2020-04-14 05:29] #840 closed

[2020-04-14 05:47] lukasholzer commented on #866
@tcarrio Hey thanks for submitting this issue! Indeed there is a problem with the current UX. But I don't think that the italic fix would solve the problem, as there is no italic in the product as far as I can remember. Maybe we should poke our UX Team about their ideas.

Maybe we should use a lighter grey but then I'm not sure that the colour contrast meets the a11y standards.

@dynatrace-oss/ux-

[2020-04-14 06:54] #178 closed

[2020-04-14 07:18] ffriedl89 commented on #673
Hey @lukett89, thank you for the API proposal. Really great starting point.
I think we would need quite the same inputs as in the `dt-select`.

I'd add
| Name  | Type | Description |
| ------------- | ------------- | ------------- |
| `id` | `string`  | Id for the select |
| `compareWith`  | `(v1: T, v2: T) => boolean` | Function to compare the option values with the selected values  |
| `required

[2020-04-14 07:26] ffriedl89 commented on #587
Depends on the experimental package being there #550, we will take care of finalizing the PR after 550 is merged.

[2020-04-14 07:37] ffriedl89 commented on #853
Today we will announce the planned breaking version and i'd say sometime end of April or first week of May if no major blockers come up

[2020-04-14 07:44] #204 closed

[2020-04-14 09:00] andular opened #868 "Filter field: Second async call lets category disappear"
# Bug Report

## Expected Behavior

When the data is loaded async a second time the category should stay selected and only the autocomplete/suggestion values should change.

## Current Behavior

The category vanishes and the filter field shows the new suggestions on the top level.

## Steps to Reproduce

https://stackblitz.com/edit/github-9bfdsj

or

Use Barista example code for "Loading options a

[2020-04-14 09:52] lukett89 commented on #673
Thanks for your reply @ffriedl89.
We will take into account all the inputs/outputs you mentioned for the first version of the component.

[2020-04-14 10:28] lukett89 commented on #673
**Final API Proposal Combobox**
<small description>

**Advanced structure**
[code]

**Inputs**

| Name  | Type | Description |
| ------------- | ------------- | ------------- |
| `value` | `string \| undefined`  | Initial value for the input |
| `placeholder`  | `string \| undefined` | Placeholder for the input  |
| `id` | string | Id for the select |
| `compareWith` | `(v1: T, v2: T) => boolean`

[2020-04-14 14:52] #453 closed

[2020-04-14 14:52] #491 closed

[2020-04-14 14:52] #254 closed

[2020-04-15 05:54] tomheller commented on #868
Hi @andular!
Thank you for reporting this. Here is the thing, if you are reloading a node for the datasource, it needs to be set to async again.
After your first load event, the `Aut (async)` option is no longer considered async, so when the second `setTimout` runs, you are merely overwriting the `datasource.data` with a sync version of the original dataset.

Right now, it is not possible to reloa

[2020-04-15 06:03] #414 closed

[2020-04-15 07:09] #756 closed

[2020-04-15 07:24] lukasholzer opened #871 "Release: Add integration/e2e test scenario for the release/publish."
# Feature Request

Currently, our release is a very complex scenario that relies on a bunch of different things. Besides our couple of unit tests, we don't have any checks if it is working or not. This means when we are updating any 3rd party tests we are heavily relying on a bunch of unit tests that are always testing with mocked endpoints and data.

This means we could easily introduce a regress

[2020-04-15 07:32] #838 closed

[2020-04-15 07:55] schobocop opened #872 "Connected box component"
# Feature Request

## Summary

Component which shows the root cause of an issue, as well as previous and subsequent events/steps in the analyzed process.

## Feature Description

The new feature shows a chain of events/steps and highlights an error/warning.
Each event/step consists of a title, an optional subtitle and an optional icon.
There should be an option to show more information about the e

[2020-04-15 08:38] andular commented on #868
Hi @tomheller, thanks for the explanation!

[2020-04-15 08:47] heartdisease commented on #673
I'd like to take care of implementing this feature within the next 2 weeks. Could you assign the issue to me?

[2020-04-15 08:54] tomheller commented on #673
In sync and after discussion with @heartdisease and @lukett89, I have reassigned the issue.

[2020-04-15 10:08] lukasholzer opened #876 "Regression with updating markdown-it types breaks master build"
# Bug Report

## Expected Behavior

running `npm run barista-tools` should not break

## Current Behavior

Running this command fails due to regression with our automated dependency updates: #863

![image](https://user-images.githubusercontent.com/11156362/79325545-a2292b00-7f11-11ea-9250-9ca3fc4f6055.png)

## Steps to Reproduce

1. `checkout master`
2. `npm run examples-tools`
3. `npm run barista

[2020-04-15 10:11] #876 closed

[2020-04-15 10:12] lukasholzer commented on #876
after clearing the cache it worked...

[2020-04-15 11:00] tomheller commented on #872
Hi @schobocop! Thank you for bringing this up and thank you for the detailed description.

For me, this looks like a combination of our dt-card, expandable behaviors and some connecting styles (for the O---O connections between the cards).
My question is, would this be a component where multiple teams would be able to benefit from?
Would you be willing to contribute this component to the library a

[2020-04-15 12:06] lukasholzer opened #877 "Barista: Add public deployment on Jenkins to zeit."
# Feature Request

Currently, we are only building and deploying the internal version of the server-side rendered design system. Add the build and deployment functionality for the public barista on the Jenkins.

[2020-04-15 12:22] tomheller commented on #717
Should be solved by #802, which should no longer fail runs on forks

[2020-04-15 13:18] knorp opened #878 "Find as you type feature in icon search steals focus of text input control"
Search works but input into field is interrupted by background reload.

Steps to reproduce:
Use chrome Version 80.0.3987.163 (Official Build) (64-bit) on Windows 10
Go to /resources/icons on the internal barista version
Type search term, allow to reload while typing
-> focus from input box is lost

[2020-04-15 13:24] thomaspink commented on #868
@tomheller you are correct. this behaviour is currently not supported.

Right now we have 2 different approaches in place on how you can apply data.
1. If the currently selected autocomplete node has the `async` property set the data that has been sent to the filterfield via a data source is considered as the asnycronosly loaded and is used as the data in place of the currently selected node.
2. O

[2020-04-15 13:31] thomaspink commented on #868
On the technical side, the third variant has to be added here:
https://github.com/dynatrace-oss/barista/blob/master/libs/barista-components/filter-field/src/filter-field.ts#L1081

Currently we have something like this in place:

[code]

A third option needs to be added:

[code]

and in the `AutocompleteDef` itself we need a new property (maybe calling it `partial`) here:
https://github.com/dynatra

[2020-04-15 14:14] Tomasz-Jasinski opened #879 "Table: Add virtual scrolling feature"
# Feature Request

## Summary

Currently Table component usage is limited as all rows are projected into DOM. Scrolling performance drops down as we add rows to the table. This request aims to add virtual scrolling possibility so that performance would be not affected by table size. Pagination is not an option because of poor user experience.

## Feature Description

### Functional requirements

-

[2020-04-15 14:52] schobocop commented on #872
Hi @tomheller,

we currently use a dt-tile with O---O connections. However, dt-tile can't expand/collapse and requires a body, which we don't always have, so we have to think up content.

After talking to UX, they believe there is benefit for multiple teams and therefore the wish to add it to Barista.
I talked with @ffriedl89 about a month ago if something similar is already in the pipeline, which

[2020-04-15 14:56] tomheller commented on #879
Thank you @Tomasz-Jasinski for reporting this. We obviously want to provide a performant way of dealing with so many rows in tables.
I am curious what the @dynatrace-oss/ux-core stance on virtual container scrolling in tables is. As @Marike-Sorgdrager is the table ux support her input would be quite valuable as well.

[2020-04-15 15:05] rowa-audil commented on #878
Hi @knorp
It seems to me that reloading while typing shouldn't happen in the first place. Do you know why your chrome reloads a currently visited page?

[2020-04-15 16:52] beeme1mr opened #880 "Improve visiblity of disabled inputs"
# Feature Request

## Summary

Disabled input fields are very difficult to read.

## Feature Description

Improve the visibility of disabled inputs by updating the CSS. I've provided a Stackblitz example that contains a possible solution.

## Attachments

[Stackblitz example](https://stackblitz.com/edit/github-5n4bq1)

[2020-04-16 04:25] baumgarb opened #881 "Repository structure in guide for developers is not accurate"
# Documentation Issue

The **Repository structure** section of the guide for developers is not accurate / fully correct any more after moving to an Nx Workspace.

## Expected Behavior

The documentation should reflect and describe what's in the repository.

## Current Behavior

- The folder _components_ does not exist any more on the root level.
- The folder _libs_ is not documented correctly any

[2020-04-16 05:57] baumgarb commented on #881
Note that I'd be happy to fix the documentation. But I'd need some input from you guys:

- What's the libs/workspace folder for?
- What's the libs/tools compared to the tools folder in root?

If you could give me those answers I'll fix the documentation and I'll create a PR for it.

Thanks a lot guys!

[2020-04-16 06:07] tomheller commented on #880
Hi @beeme1mr! This seems like a good input, thank you for reporting this.
I guess that this will/should affect all of our form fields and placeholders/values. I would love to have an opinion from @dynatrace-oss/ux-core on this one.

@beeme1mr would you be willing to contribute these changes to the library, once we have finished the discussion with UX which way we want to go?

[2020-04-16 06:09] tomheller commented on #881
@lukasholzer could you provide the necessary information to @baumgarb? As you have set up most of these twp folders and probably know the difference better than any of us.

[2020-04-16 06:35] #717 closed

[2020-04-16 06:35] #801 closed

[2020-04-16 08:10] thomaspink commented on #848
you can also use the `disabled` property which automatically sets both, `editable` and `deletable` to false.

[2020-04-16 10:58] subarroca opened #884 "Single stacked bar chart"
# Feature Request

## Summary

Horizontal stacked bar chart  to display multiple values of the same group

## Feature Description

- Show all the values in a stack filling the whole width
- Show legend
- Show separate overlay for each segment
- Clicking on legend should disable one of the segments and hide it, making the rest of the chart to occupy 100%
- Clicking on segment should select it, pain

[2020-04-16 11:39] ffriedl89 commented on #884
@subarroca I've talked to a couple of people in the past about such a component - so i feel this would be a good addition to the library.
Please create an API proposal first before starting with the implementation.

Initial thoughts & questions:
* Legend needs to be optional
* Maybe the bar icon in the legend is not the correct one here.
* tooltip should work similar to other charts and get the co

[2020-04-16 11:46] tomheller commented on #884
The primary challenge that we have faced in the past with this one, is that this needs to work in a connected manner (in table columns, for example).
The challenge here is that a specific metric should get the same color in all connected instances, i.e.
Row 1 shows: metricA blue, metricB red, metricC yellow
Row2 shows: metricA blue, metricC yellow

This works a little bit against our current syste

[2020-04-16 11:50] ffriedl89 commented on #884
Maybe we need to leave this up to the developer to colorize the same metric in rows the same way. Auto coloring for simple usecases and for connected ones, colors need to be set on the series.

[2020-04-16 11:54] subarroca commented on #884
[code]

## inputs
* **series: DtSingleStackedBarNode[]** Nodes of information to be displayed
* **selected: DtSingleStackedBarNode** Node to be selected
* **valueDisplayMode: DtChartValueMode** Format of display for values. Default  `DtChartValueMode.ABSOLUTE`
* **visibleLegend: boolean**  Wether legend should be shown or not. Default: true

## outputs
* **selectedChange: EventEmitter<DtSingleStac

[2020-04-16 12:02] subarroca opened #885 "New charts section"
# Feature Request

With a growing number of charts it would be good to croup them all in a new section on barista called 'charts'. That way we could use components only for UI components, like buttons, sliders, cards, etc. And for a clearer view of the charts section we could have images of what you'd find inside, that way you would find a pie chart easier than by its name

[2020-04-16 12:59] beeme1mr commented on #880
Sure, I'm happy to help. Please let me know what direction the team would like to go and I'll get started.

[2020-04-16 13:10] bardosmisi opened #886 "The keyboard events of the slider should stop propagating."
# Bug Report

The keyboard events of the slider navigates on the page as well.

## Expected Behavior

When the slider component is focused, and we press keys which are triggering slider events (cursor buttons, Home, End, Page up and Page down), only the slider should react, not the whole page.

## Current Behavior

Focus a slider on the examples page, push home or end button on the keyboard, page

[2020-04-17 09:03] tomheller commented on #885
@ffriedl89 Maybe you can take this with you into your discussions next week?

[2020-04-17 09:08] lukasholzer commented on #881
Hey, @baumgarb that's nice to hear!

A short explanation of why the structure is like that – codebase grows and there is still a lot of legacy code here.

I want to create a discussion about how we should structure our mono repo because It grew quickly and is currently a little bit of mess due to the lack of time to refactor everything. It is a slow-moving process.

The `libs/workspace` library is

[2020-04-17 09:31] ffriedl89 commented on #885
I think grouping charts somewhere in barista definitely makes sense, maybe a subsection of the components makes more sense. We would need some adjustment in the barista app to make this possible. But i totally agree with this and see the benefit of it :)

[2020-04-17 10:09] #886 closed

[2020-04-17 10:13] #798 closed

[2020-04-17 10:32] ffriedl89 opened #889 "[Schematics] Create dt-barista-component schematic"
It should create a new folder inside the libs/barista-components using the '@nrwl/angular', 'library' schematic. This takes care of adding the references in the nx.json and angular.json file for the new library.
All additional files or changes should follow the nrwl library schematic to conform to our structure.

This schematic should also use the dt-example, dt-dev-page and dt-e2e schematic inter

[2020-04-17 11:21] ffriedl89 commented on #755
Interesting resource to migrate our rules to eslint
https://timdeschryver.dev/blog/migrating-a-tslint-rule-to-eslint-with-typescript-eslint

[2020-04-20 06:46] tomheller commented on #848
@evan-bradley Did you have a chance to check if this solves the issue that you were having?

[2020-04-20 08:50] gselltho opened #894 "Date Picker Component"
# Feature Request

## Summary

Add a dedicated component for picking dates. Similar to the date picker component of ng material: https://material.angular.io/components/datepicker/overview

## Feature Description
The component should support these attributes:
- date: Date; Binding for the value of the component
- format: String; Date format, something like: "YYYY/MM/DD"
- disabled: boolean; is the

[2020-04-20 09:39] lukasholzer commented on #894
@gselltho Thank you very much for opening this feature request!
I think on this topic we need a close collaboration with our @dynatrace-oss/ux-core team. Maybe they have already created some mocks for this topic or they can provide us with some insights.

If they have already some mocks or designs, this issue would be a good starting point to collect all necessary information and API proposals.

[2020-04-20 12:00] kathrin-aigner commented on #894
I'm not sure for which purpose the date picker is needed but Arkadiusz Lipiarz is working together with his team for a long time now on a date picker we want to use as Global timeframe selector
![image](https://user-images.githubusercontent.com/57905306/79749293-3c70e080-830f-11ea-8b3a-96fcebd96309.png) it's already implemented in our demo environment. Ithink in this case it would be best to talk

[2020-04-20 12:54] lukasholzer opened #901 "Barista: Add Slack notification status for barista build."
## Feature Request

Add slack notifications for barista builds on our Jenkins.
When the build fails we want to get notified in our slack channel and if a public build is done the same to be promoted on Zeit. Maybe post the URL for the promotion to production in the channel.

[code]

[2020-04-20 13:11] evan-bradley commented on #848
Hi @ffriedl89, @thomaspink, and @tomheller, thanks for the replies. We are currently the following approach: we mark the tag as disabled call `_handleInput` on the component's instance, as calling `markForCheck` unfortunately has no effect for us.

[code]

We're seeing the following issues with this:
* We have to handle the state for each tag in two locations (once on adding, and once within the O

[2020-04-20 13:27] tomheller commented on #848
Hi @evan-bradley !

Right of the bat, I wanted to mention that all methods and members on the componentInstance, that are prefixed with an `_` are considered part of the private API. You should not rely or call them directly, as they are not meant to be used by the consumer (but need to be public for various reasons, i.e. usage in the components template itself).
Internal members can change or van

[2020-04-20 14:28] evan-bradley commented on #848
That would definitely be more convenient, since we could set the disabled property using our existing data structure. What would be ideal for us is to have a property on the `DtFilterFieldDefaultDataSourceType` type providing the ability mark them as disabled (or enabled) in a declarative fashion. It would probably look something like this.

[code]

Let me know if this approach would make any sens

[2020-04-20 14:50] tomheller commented on #848
I'm afraid your suggestion will not work, because internally we are checking for instance equality on the filters.
When doing this,
[code]
you are creating a new instance of the linzFilter[1] element, which will no longer match.
@thomaspink please correct me if I'm wrong here, but I don't think that this will work.

[2020-04-20 16:29] evan-bradley commented on #848
@ffriedl89 and I discussed this, and were able to get the `changeDetectorRef.markForCheck()` call working, so thankfully that rids us of the internal method call.

Yeah, I see how it would be challenging to add a disabled property to the `DtFilterFieldDefaultDataSourceType` type, so I would be good with the solution you proposed. Declaratively setting the disabled property in some fashion would id

[2020-04-21 05:24] ursula-wieshofer commented on #827
Hi @thomaspink and @tomheller sorry for letting you wait so long.
I think it would be very helpful to have the icon sizes as tokens we can change once. If that is not too much effort I'd suggest we do this as it would help to create our UI more consistent.

[2020-04-21 05:38] tomheller commented on #827
@ursula-wieshofer This works for me, the only question would now be: What token do we default to, when no size is given?
For a grace period I guess we should keep the behavior as is, so the icon sizes itself based on the container and give a warning if it is not set, so people have time to adapt their screens.

[2020-04-21 05:40] ursula-wieshofer commented on #880
Hi @beeme1mr and @tomheller I totally agree that our disabled input field is very hard to read. I think the contrast might also not follow our accessibility guidelines.
I would love to change this, but we have to take into consideration that this should be consistent throughout our components. E.g. a disabled select has the same styling.

I really appreciate changing this, it's on our plate for a

[2020-04-21 05:54] ursula-wieshofer commented on #866
Hi @tcarrio and @lukasholzer from a UX perspective I think this is a very good and helpful idea. In general I would go with our watermark color as this is just another watermark.
Now every watermark in our components (Select, input field,...) is #898989 = Gray500, however this color unfortunately does not yet follow [our a11y guidelines](https://barista.lab.dynatrace.org/guidelines/accessibility#d

[2020-04-21 06:12] ursula-wieshofer commented on #879
Hi @Tomasz-Jasinski,
thanks for bringing this up. From a UX perspective virtual container scrolling brings a lot of difficulties with it (how to make sure the table indicates scrolling is possible, how to make sure users can distinguish it from a standard table,...) It is really not recommended to use container scrolling.
Another UX issue is showing such a huge table at once, as users normally don

[2020-04-21 06:58] ursula-wieshofer commented on #827
@tomheller in our guideline here https://barista.lab.dynatrace.org/patterns/common-ui-styles#icon-sizes it says that S (20px) is the default, so I'd go with this. But I agree, having this as a warning would be great ;)

[2020-04-21 07:31] SkaillZ commented on #880
@beeme1mr Would you like to contribute Ursula's suggestion to the library? We'd really appreciate it and we could guide you through the process.

[2020-04-21 07:34] ffriedl89 commented on #894
We had the discussion in the past and @ursula-wieshofer did some evaluation in the product, and we have one or two datepickers in total. This meant that this was not high on the priority list.

@gselltho I think it would make sense to discuss this further and target an addition to the library.
I think we can take a lot of learnings from @angular/components and do a simplified version.
Would you be

[2020-04-21 07:35] SkaillZ commented on #879
@Tomasz-Jasinski Could you please provide some more details on your specific use case?

[2020-04-21 07:43] lukasholzer commented on #872
Hi @schobocop,

thank you very much for clarifying this! If you want to contribute this to the library then please make sure that you create an API proposal first before starting with the implementation.

In general, our API proposals should describe how a consumer would use the component. This means a snippet of the HTML layout and the inputs and outputs that would be needed for this kind of comp

[2020-04-21 07:52] SkaillZ commented on #866
@tcarrio We would suggest going for the second option, since we already have an issue for that: https://github.com/dynatrace-oss/barista/issues/880. Could you align with @beeme1mr and consider helping out or contributing this yourself?

[2020-04-21 07:57] SkaillZ commented on #765
@Sherif-Elhefnawy Would you like to contribute this to our library? A small API proposal with the changes you want to introduce would be helpful (please double-check that no breaking changes are introduced). We'd help you if you have any questions, so feel free to reach out to us.

[2020-04-21 09:05] #752 closed

[2020-04-21 09:08] arkadiuszlipiarz commented on #894
Hello there!

So it seems that the feature my team created would fit use cases @gselltho listed and much much more. Besides the top of our site, it is also used by Dashboard team as a local component. We prepared it both in Angular and GWT. Reach out to me on Slack if you are interested.

But... it seems that Ryan and his team were preparing a super similar solution to what you shared. Here is how

[2020-04-21 09:19] tkaiser commented on #287
I experienced a semi-related problem when using `dt-table`.

My problem was that the row-click handler did not work (the `(click)` output on the `<dt-row>` to be exact).

I finally tracked down the problem to the following issues on my end:
1. I set the loading indicator input on `<dt-table>` with `[loading]="isLoadingData"`
2. This boolean was initialized to `true` but I failed to set it `false`

[2020-04-22 05:28] schobocop commented on #872
Hi @lukasholzer ,

I'll write down a proposal and post it as soon as I'm done with it.
Thanks for the example!

[2020-04-22 09:16] #881 closed

[2020-04-22 09:44] Tomasz-Jasinski commented on #879
Thank you @ursula-wieshofer and @SkaillZ for feedback.
**Use case**
Our use case is to show log files, one log line per table row. But we do not need thousands of rows to utilize virtual scrolling. Just several hundred of them causes noticeable slowdown - especially when one row consists of many columns and/or uses several DOM elements underneath. I've tested 7 column table: scrolling performance

[2020-04-22 09:57] ursula-wieshofer commented on #879
Hi @Tomasz-Jasinski
I understand the use case of showing a lot of log files in a table. What I don't understand is how users are supposed to work with this table - what are they exactly doing, what's their goal? Are they really reading all the hundreds of log lines?
If not, then maybe looking into better filter possibilities would guide the user better than just showing a table with hundreds of en

[2020-04-22 10:11] lukasholzer opened #905 "Barista: Server Side rendering of index page fails."
# Bug Report

Currently, all barista pages are static pages that are rendered on the server. Due to a race condition, the index.html file gets replaced with its original file in the builder. That is the reason why the index page is not server side rendered.

All other pages are fine.

## Possible solution.

Rename the output file to `index.original.html` and launch it for the generation. (This is

[2020-04-22 11:10] #877 closed

[2020-04-22 14:42] beeme1mr commented on #880
Sure, I can do that.

[2020-04-22 18:45] Tomasz-Jasinski commented on #879
Hi @ursula-wieshofer
Users can inspect logs because of various reasons:
* critical patterns lookup (like exception or error),
* stack trace of exception analysis (may have hundreds of lines),
* performance data analysis (like response time),
* analysis of time correlation of events that have happened.
Hundreds of log lines is not that much if we want to provide some context for the subject that we

[2020-04-23 07:37] ffriedl89 opened #909 "Ng upgrade 7.0.0"
# Feature Request

Provide an ng-upgrade schematic for version 7.0.0.
Similar to the upgrade schematic we had for 6.0.0.
* Rename inputs in templates and ts files (aria-label-close -> ariaLabelClose)
* Install & update peerDependencies (lodash-es, highcharts)

## TODO

- [x] Rename aria labels in html files automatically
    - [x] For example: Consumer is doing [timestamp.html](https://github.com/

[2020-04-23 07:47] lukasholzer commented on #755
We can do a partial transition of eslint and tslint our nx workspace would support that so having two different interest. for all angular related stuff still tslint and for the node libraries etc. migrate to eslint.

[2020-04-23 07:54] Sherif-Elhefnawy commented on #765
@SkaillZ , thanks for offering the help. I will do so when I come around to this again :)

[2020-04-23 11:33] lukasholzer opened #912 "Create initial Workspace setup for Bazel"
Create the Bazel `WORKSPACE` file where the managed directories are included and all necessary rules are loaded to start building a typescript library.

1. Add Workspace with necessary configuration
2. Add root `BUILD.bazel` file

[code]

[2020-04-24 12:44] areknow opened #913 "docs: Stepper documentation examples not rendering"
It seems the live example for the Stepper is not loading properly

https://barista.lab.dynatrace.org/components/stepper

[2020-04-27 05:44] lukasholzer commented on #913
Hey, thank you for reporting this issue!

[2020-04-27 16:13] lukasholzer opened #921 "Barista: Add check for internal resources in Jenkins pipeline"
# Feature Request

To avoid leaking any internal content on a public deployment of our design system barista we should add some checks in the Jenkins pipeline. We can check for our internal pages and maybe if some links occur in the built dist output of the static pages.

This would prevent manual work on looking over a release and avoid human errors.

[2020-04-27 20:53] gselltho commented on #894
Hi guys, i'm not sure whats next. The component of Ryans team is basically the angular material one and exact what i need. But I would say, since it is a very basic component, its home should be barista components and as it seems, more teams could use it.

@ffriedl89: of course, i can create a more detailed API description. At least for a limited feature set for a first implementation. I will post

[2020-04-27 21:08] areknow commented on #894
Hi @gselltho, I am the developer of the date picker shared component that resides in the spine-x repo. I have already spoken to the barista team about transferring it to the barista components lib, but unfortunately it has a hard dependency on several material packages which is not something that the team would like to add to the project.

Angular CDK does not include a date picker which means thi

[2020-04-28 05:23] tomheller commented on #884
Hi @subarroca!
The API proposal looks good so far. A couple of things I want to discuss.

## Inputs

I think we should consider connecting the SingleStackedBarChart to the dt-legend and let the consumer define where the legend is going to be rendered. I'm thinking about the usecase of a SingleStackedBarChart within a table-row, where at the end of the table itself, it shows the legend for the char

[2020-04-28 06:05] gselltho commented on #894
Hi @areknow, your component is great! I just miss Angulars Reactive Form feature (ControlValueAccessor) and, so it seems, it has to be a DtFormFieldControl to use it seamless within Barista and Angular Reactive forms.

[2020-04-28 06:20] subarroca commented on #884
Hi @tomheller! I made some changes to the proposal to make it fit better.
I'm using `DtSingleStackedBarChartValueDisplayMode` which is
[code]
Does this work for you or do you prefer not to have the type?

Also I've added `selectable` because not in every case you want to use it as a selectable chart.

Colors are automatically fetched with the `getDtChartColorPalette` but if any node has a color it

[2020-04-28 06:33] tomheller commented on #884
This works perfectly for me, :+1:

This works for me as well, can you reflect the changes in your comment as well, so we have an up to date and single source here https://github.com/dynatrace-oss/barista/issues/884#issuecomment-614605963

The point i was trying to make is, that multiple charts can share a single legend. That's why I don't think we can embed the legend within the chart itself, but

[2020-04-28 06:39] ffriedl89 commented on #894
@gselltho Thanks for reaching out again. It's exactly as @areknow outlines. His component is a restyled material component which introduces a dependency on material and other util libraries from the angular/components repo. It also comes with a hard dependency to moment.js which is huge and not tree shakable.
Unfortunately, the CDK does not come with a datepicker yet that is not styled the materia

[2020-04-28 06:56] subarroca commented on #884
Yes, totally understandable. I thought you wanted to interact with the legend and hide or show the elements in the chart.

I'll update the definition in a while

[2020-04-28 06:57] SirTroyer opened #922 "Restyle confirmation dialog"
# Feature Request

Since our confirmation dialog currently is too subtle for our users to see it on larger screens we would like to make it more prominent.

Following changes should be done:
* make it darker
* move buttons to the left (more consistent with our button positioning guidelines + on larger screens the button can be too far away from the content)
* do not dock the confirmation dialog di

[2020-04-28 07:24] tomheller commented on #922
I guess this is related to the #577
There was a discussion ongoing and based on the comment from @ffriedl89, seems that you are willing to contribute. Is this still accurate?

Can you outline the API changes that will be required for your improvements?

[2020-04-28 07:46] SirTroyer commented on #922
oh right #577 is a duplicate issue
yes I'm still willing to contribute we planed to implement it in this sprint
hmm not sure wat API changes are required but it should not change a lot but just a new capability for the wiggle animation the rest are just styling changes I guess

[2020-04-28 07:52] tomheller commented on #922
This is what I was referring to. Maybe just quickly outline what the default option is, and how you can (opt in / opt out) of the wiggle.

[2020-04-28 09:24] SirTroyer commented on #922
hmm I thought actually about providing a stream as a parameter like `wiggle` to trigger the animation because I guess the confirmation dialog component does not know / probably should not know about navigation
or am I wrong?

[2020-04-28 09:59] tomheller commented on #922
You are right, the confirmation-dialog should not know about the navigation.
That's why I was asking about details on this one.
An input subject that you subscribe on within the confirmation dialog or a public method would be fine.

[2020-04-28 10:31] SirTroyer commented on #922
perfect :)

[2020-04-28 10:49] subarroca commented on #884
[code]

## inputs
* **series: DtSingleStackedBarChartNode[]** Nodes of information to be displayed
* **selected: DtSingleStackedBarChartNode** Node to be selected
* **selectable: boolean** Allow selections to be made on chart. Default: false
* **valueDisplayMode: DtSingleStackedBarChartValueDisplayMode** Format of display for values. Default:  `none`
* **visibleLegend: boolean**  Wether legend sho

[2020-04-28 10:55] schobocop commented on #872
Hi @lukasholzer,
here is a first API proposal. Let me know what you think:

# Initialization
\<dt-connected-box-group\> holds a list of \<dt-connected-box\>
\<dt-connected-box\> holds the following sections:
- \<dt-connected-box-title\> - The title of the event, needs to be defined. Is text only.
- \<dt-connected-box-subtitle\> - Optional. The subtitle of the event, is below the title. Is text onl

[2020-04-28 13:28] tomheller commented on #884
Maybe, if we think about connecting multiple ones of the single-stacked-bar-charts, something like a `max` input would be helpful. If none is given, you can calculate the max value as the sum of the passes series, but if you have multiple ones, you may want to have them in the same scale to be comparable.

This and the external legend is probably not something we need to tackle right away, because

[2020-04-29 08:28] #587 closed

[2020-04-29 08:38] tomheller commented on #872
@schobocop The API proposal looks good so far. Based on the screenshots you provided, I guess there should also be a switch if the box is `expandable` at all.
Because there are disabled expandable boxes and boxes that do not have an expand-trigger.

[2020-04-29 08:53] lukasholzer opened #925 "Sunburst Chart: Add E2E test to ensure code quality."
# Tests

As a follow-up issue for the pull request #883 the newly added Sunburst Chart needs some E2E tests to ensure proper code quality. Connected to the issue #786

The scope of this issue should be to create E2E tests that are testing the interaction with the chart. Common test cases would be interacting with the chart overlay through hovering sections of the chart. Furthermore, it can be swit

[2020-04-29 08:55] lukasholzer commented on #925
@subarroca @pedromosquera As you are the code owners of this component would you contribute the tests to ensure our code quality?

[2020-04-29 08:58] lukasholzer commented on #86
@ffriedl89 should we tackle this for version 8? Because then we should start deprecating our dt-overlay now for version 7.

[2020-04-29 08:59] schobocop commented on #872
@tomheller if the box is expandable depends on if there is a \<dt-connected-box-body\> given.
Not sure if it will ever happen that a box is disabled but has a body. But it could happen, then we would see the disabled expand icon.

[2020-04-29 09:13] ffriedl89 commented on #86
We can't deprecate it before we have an alternative in my opinion

[2020-04-29 09:20] christian-fischer opened #926 "filter-field: open popup when scrolling down after removing filters"
# Bug Report

## Expected Behavior

I think your intended behavior is to not be able to scroll, as long as the filter-field popup is open?

## Current Behavior

When scrolling down, the filter-field popup stays visible in place.

## Steps to Reproduce

Used components: filter-field + table.
The table data source changes depending on the filters.

Example: https://stackblitz.com/edit/github-xnqkhf-

[2020-04-29 09:32] lukasholzer opened #927 "Create a library for all the shared assets to avoid duplication."
# Feature Request

To avoid duplication add a library under `libs/shared/assets` that has all the assets and can be reused on every application.

Library can be created with:
`ng generate @nrwl/workspace:library --name=assets --directory=shared --unitTestRunner=none`

**Applications that would share assets:**
- barista-design-system
- comopnents-e2e
- demos
- dev
- universal
- fluid-dev

After it

[2020-04-29 09:50] tomheller commented on #926
Hi @christian-fischer!
Thank you for pointing this out. The dropdown should stay open while the filter field has focus and users should be able to scroll as well to interact with the rest of the page, but the positioning is definitely off.
We will have a look and see what can be done to fix this.

[2020-04-29 11:35] #913 closed

[2020-04-29 11:44] #790 closed

[2020-04-29 11:46] ffriedl89 commented on #872
The API proposal looks really good - thx a lot @schobocop.
One thought that came to my mind. Is it ok if the body is initialized right away even when collapsed? Or should we think about lazy init on the body?

In that case you would need to have an API like

<dt-connected-box [disabled]="false" color="error">
        <dt-connected-box-icon>
            <dt-icon name="warning"></dt-icon>
        </

[2020-04-29 12:36] christian-fischer commented on #926
Interesting. I noticed that there is some scrollbar disabling going on, when the popup is open. So this is not intentional?
See example https://stackblitz.com/edit/github-ltwlg3 where I increased the height

[2020-04-29 12:41] tomheller commented on #926
I notices as well, this might be a sideeffect of the bug and the positioning of the overlay.
We are using a cdkOverlay to render the dropdown here, and it might get the wrong positioning logic applied. I haven't had time to check this one yet, but I will keep you posted.

[2020-04-29 13:46] christian-fischer commented on #926
Awesome! Thank you @tomheller

[2020-04-29 14:02] tomheller commented on #926
After some research, i figured out that apparently the dropdown from the filterfield / autocomplete is currently set to be scrollBlocking.

And it seems that the `scrollStrategies.block()` causes this issue. I'm not quire sure why this is only appearing now.

[2020-04-29 14:32] schobocop commented on #872
I see the potential benefit of lazy loading @ffriedl89. However, in our current use case, we don't need it. The data for the bodies of the different boxes, in a single request and there is no need to split it up.

Someone else, however, may benefit from it.

I'm not sure how the current procedure in your repo is. Persinally, I'd stick to the necessary parts which we need for our use case to keep t

[2020-04-29 14:35] ffriedl89 commented on #872
I am fine with having it the way you described without lazy behavior. I just wanted to bring it up for discussion and consideration.

[2020-04-29 14:37] ffriedl89 commented on #872
I think the proposal looks really solid! If you want you can post it in our slack channel for more comments. But you can go ahead and get started with the implementation. Please reach out for pointers on how to get started quickly!

[2020-04-29 14:38] tomheller commented on #926
We have figured it out, thanks to the help of @ffriedl89!
For scroll blocking to work, the body element needs to be expandable (it can't be set to 100vh, which it is in the examples and demo app. Changing the body rule to `min-height: 100vh;`, the scroll blocking works again.

There is not really something that we can do inside the component level to fix that. If this is an issue in your applicati

[2020-04-29 15:45] schobocop commented on #872
Cool thanks! I'll make sure to have the implementation task in one of our upcoming sprints.

[2020-04-30 11:59] christian-fischer commented on #926
I tried your suggestion, but I cannot confirm that this changes anything. I'm still experiencing the same behaviour, with a style for body with `min-height: 100vh;`

[2020-05-04 08:15] tomheller commented on #926
I thought as much. scroll blocking does only work if the body is the scroll container. I guess we are removing the scrollStrategy.block from the autocomplete to fix that.

@christian-fischer The context dialog also uses the blocking strategy. Can you confirm that the scroll blocking is working for these?

@ffriedl89 Any other ideas of fixing this one?

[2020-05-04 11:14] lukasholzer opened #934 "Table: Cell provide values in ngStyle syntax"
# Feature Request

Instead of providing each property as separate input think about an API like the `ngStyle` directive where those properties are combined: [cell.ts](https://github.com/dynatrace-oss/barista/blob/master/libs/barista-components/table/src/cell.ts#L94).

like: `[value]="{"min-width': '30%'}"`

[code]

[2020-05-04 13:44] subarroca opened #940 "Use durationPipe in event chart x-axis"
# Feature Request

## Summary

X axis can get a better formatting

## Feature Description

- Problem: Currently the duration format is similar to the duration pipe but built autonomously
- Solution:  Use duration pipe to make it consistent along the platform

- Problem: If chart is small ticks overlap
- Solution:  Create as many ticks as allowed in a view

[2020-05-04 14:07] tomheller commented on #940
Thanks for raising this. We wanted to do this for quite some time now, but the duration formatter finally made it to a stable release.
Thank you for taking care of this.

[2020-05-04 14:19] #878 closed

[2020-05-04 15:39] subarroca commented on #884
After the suggestions and considering that this component could be reusable for multiple series I decided to upgrade it and not call it `single` anymore. Single would be just a case.

[code]

## inputs
* **series: DtStackedBarChartSeries[]** Series of information to be displayed
* **selectable: boolean** Allow selections to be made on chart. Default: false
* **selected: DtStackedBarChartNode** Ser

[2020-05-05 06:14] tomheller commented on #884
Hi @subarroca!
This is a great effort to extend the bar chart. A couple of things to consider:

**Bar horizontal / vertical vs Bar chart & column chart**
In charting, vertical bar charts are usually referred to as column charts. I'm not sure if we want to diverge from this standard. I would opt to create two components `dt-stacked-column-chart` and `dt-stacked-bar-chart`, they can share most of th

[2020-05-05 06:36] subarroca commented on #884
Hi!

First of all everything I suggested is already done so it would not take much time to do this except for testing

**Selector**
It already has 'chart' in the name but I forgot it in here, thanks for noticing though

**About the bar / column chart**
As a matter of fact it's already done in one component with one single template and using grid layout and element positioning so I would not go for

[2020-05-05 07:35] Sherif-Elhefnawy opened #945 "Chart Selection Area: Snap to closest timestamp"
# Feature Request

## Summary

Presently, when the user wants to select a timeframe on a chart that contains specific timestamps, he can start dragging from one point to the end point. The issue is that the user must start his timeframe selection EXACTLY at the timestamp or slightly after which seems a bit strict.

An example is shown below:
![Annotation 2020-05-05 092537](https://user-images.gith

[2020-05-05 09:06] lukasholzer commented on #925
@subarroca can you give a status on the progress?

[2020-05-05 09:56] christian-fischer commented on #926
@tomheller I'm not using the context-dialog - so I don't know...

[2020-05-05 10:10] #940 closed

[2020-05-05 10:46] subarroca commented on #925
Pending. I'll start this week with that

[2020-05-05 12:26] tomheller commented on #945
Hi @Sherif-Elhefnawy!

This seems like a good extension to the selection area, a couple of things to note here:

* The snapping behavior should be opt-in on the selection area
* How would we deal with missing data points on a series?
* Do we want to set the snapping to a series, or to the a collection of all data points over all series?

Would you be willing to contribute this feature to the libra

[2020-05-05 12:50] Sherif-Elhefnawy commented on #945
Hi @tomheller ,

About the points you mentioned:
-  For missing data points, how is that dealt with now for the selection area?
- I would assume that we snap it to a series that is shown rather than all data points

I can't promise unfortunately about contributing soon but it is on our backlog.

[2020-05-05 13:02] lukasholzer commented on #853
@rowa-audil can you please create a list with all the deprecations or do you already have a list that you can post into so that the work can be shared across?

[2020-05-05 13:05] rowa-audil commented on #853
@lukasholzer I don't think we need a list.
@bardosmisi and I are currently working on finishing the last deprecations (breadcrumbs and filter-field).

[2020-05-05 13:48] tomheller commented on #945
It's not, currently there is no snapping for the selection area and therefor no direct connection between the selection area and the date in the chart.

Yes, if we do that, we don't need to deal with the problem of missing data. It will just not be possible to snap to a specific time, if there is no datapoint there. Considering your example, if we would snap to the columnSeries, it would not be po

[2020-05-06 05:22] lukasholzer opened #948 "Refactor Schematics that we don't rely on the CDK"
## Description

With the CDK update from **9.2.1** to **9.2.2** the CDK broke our library as they do not follow semantic versioning and they consider the schematics library not as public - even though they do not state this and export it like the other stuff. https://github.com/angular/components/issues/19258#issuecomment-624160584

Due to the fact that our consumers can use the new patch version

[2020-05-06 05:40] lukasholzer commented on #909
We need to update the `ng-add` as well for the latest versions.

[2020-05-06 06:08] lukasholzer commented on #948
Fair enough they state it in the [README](https://github.com/angular/components/blob/master/src/cdk/schematics/README.md)

[2020-05-06 06:43] tomheller commented on #507
@thomaspink will you be able to prepare this one for the release of 7.0.0?

[2020-05-06 06:47] SirTroyer commented on #922
I'm currently struggling with the indent from the menu bar as the confirmation dialog is a template that will be set into a CDK overlay. How can I make it aware of the navigation bar or at least how can the component provide an opportunity to make the wrapper aware of this and adjust the indent from the left?
Does anyone have a good idea how to make it possible without an a hack or a bad API?

[2020-05-06 06:54] tomheller commented on #926
Scroll blocking seems to work for the context dialog. This seems to be an issue with the container wrapping the filter field. I'm still not sure if this is an issue on our end.

Working example of the context dialog with scroll blocking in an overflow container.
https://stackblitz.com/edit/github-a4vqxy?file=src%2Fcontext-dialog%2Fcontext-dialog-default-example%2Fcontext-dialog-default-example.htm

[2020-05-06 07:23] karolinawronska commented on #879
Hi all,

I believe this is the performance issue of this particular component. As long as it harms User Experience, it's not up to us designers to cope with the performance issue of the component, because I personally cannot do anything about performance of the component. What's more - Log Monitoring use cases have to cover 1k+ records on daily.
I'm open for discussion. :)

Best,
Karolina

[2020-05-06 07:39] christian-fischer commented on #926
I think the important part for reproducing this issue is that the data of the table (and subsequently the height of the table) is changing after the popup is already visible. It might be entirely possible that the issue only occurs when using the filter-field in conjunction with the table component.

[2020-05-06 07:58] tomheller commented on #926
I was able to reproduce the problem already with the autocomplete component, which is used in the filterfield internally.
But you make a good point with the height of the overflow container changing after the overlay has been already opened.
After trying this one with the confirmation diolog, it still seems to not be an issue.
https://stackblitz.com/edit/github-a4vqxy?file=src%2Fcontext-dialog%2Fc

[2020-05-06 09:23] christian-fischer opened #950 "context-dialog: readme has typo "openedChanged" vs actual implementation "openedChange""
# Bug Report

## Expected Behavior

readme matches implementation

## Current Behavior

readme refers to non-existent output property

## Possible Solution

remove the d at the end of openedChange in the readme ;)

## Steps to Reproduce

1. Open the readme page for the context-dialog
2. Scroll down to the section about output properties

## Context (Environment)
https://barista.dynatrace.com/compo

[2020-05-06 09:51] ffriedl89 commented on #879
Hey, I've extended the example for the basic table with 7 columns and 5000 rows. The scroll performance is not significantly slower in my opinion than with less rows. See
https://stackblitz.com/edit/github-xekfzn?file=src/table/table-default-example/table-default-example.html
Even with 5k rows this is more than acceptable in my opinion.
Also note that this example runs an online ide next to the if

[2020-05-06 10:01] tomheller opened #951 "Filterfield 2 - Requirements gathering"
Since the current implementation of the filter field component lacks a couple of features that have been requested in the past, but are really hard to patch into the current state, we are toying with the idea to create a second version of the filter field. When we started the first implementation of the filter field, a lot of requirements were added after the initial implementation was done, which

[2020-05-06 10:22] ffriedl89 commented on #848
We can currently support this feature. We will take the comments under consideration for a potential v2 - #951

[2020-05-06 10:22] #848 closed

[2020-05-06 10:40] OFouda commented on #951
looks great guys. we already had a couple of requirements coming in the pipeline that we wanted to reach out to you about. I see they are already covered here

[2020-05-06 11:14] subarroca commented on #951
we've been asked to include AND, OR and NOT

[2020-05-06 11:34] danielkaneider commented on #951
Early mocks had a multi-selection visualized. Instead of just getting a list of suggestions and selecting one, you would get those with checkboxes in front; so you could selected multiples of them. It's a simpler version of the AND filter, and nicer than entering the same filter (eg. country) multiple times

[2020-05-06 12:08] tomheller commented on #951
Thanks @subarroca  for bringing this up, I have added this to the original list of requirements.

Thanks @danielkaneider for bringing this up. I have added this to the original list of requirements.

[2020-05-06 12:17] Argeath commented on #951
For some filters there may be a huge amount of suggestions, e.g. tags. It'd be nice to limit them to N suggestions and display "Start typing to see more" that'd be asynchronously fetched when user is typing - kind of server-side searching.

[2020-05-06 12:20] #950 closed

[2020-05-06 12:32] bmrozinski commented on #951
I'm also counting on #78 implementation in Filterfield v2. Range filters would be perfect for use cases regarding version number (eg. 1.194.0) filtering.

[2020-05-06 12:40] tomheller opened #956 "Alert: Change theming to custom properties"
Based on what we have learned from re-theming the button in #920, we should switch the theming of the alert-component to use custom properties and the new theming.

Alert has the following states:
* default (not affected by color-theme)
* warning
* error

In the following themes:
* light
* dark

Goal of this issue is to remove our current theming approach of generating css classes for all themes a

[2020-05-06 12:41] tomheller opened #957 "Bar indicator: Change theming to custom properties"
Based on what we have learned from re-theming the button in #920, we should switch the theming of the bar indicator component to use custom properties and the new theming.

Bar indicator has the following states:

* main (affected by color-theme)
* recovered
* error

Goal of this issue is to remove our current theming approach of generating css classes for all themes and switch to css custom prope

[2020-05-06 12:43] tomheller opened #958 "Breadcrumbs: Change theming to custom properties"
Based on what we have learned from re-theming the button in #920, we should switch the theming of the breadcrumbs component to use custom properties and the new theming.

Breadcrumbs have the following states:

* main (affected by color-theme)
* error
* neutral (always gray-ish, regardless of color theme, scoped only to breadcrumbs)

In the following themes:

* light
* dark

Goal of this issue is

[2020-05-06 13:00] tomheller commented on #951
Absolutely. I've added it to the list. Although I consider a lot of these to be actually built as an extension (meaning not provided by the barista library itself), it is good to have all these use cases for extensions present as well, for us to define the interface between the filter-field v2 and a custom extension better.

[2020-05-06 13:14] bardosmisi opened #959 "Remove code duplication without circular depency in 'generate-area-range-data.ts'"
Importing ```isDefined``` from ```libs\barista-components\core\src\util\type-util.ts``` would introduce circular dependency, but now the code is duplicated.

See: https://github.com/dynatrace-oss/barista/pull/931#discussion_r419226712

[2020-05-06 13:32] tomheller commented on #926
After looking into this with @christian-fischer it seems that this might be related to the async updating of the table data (rest call dependent updates).
Scenario:
1. Short list in the table, where the body is not scrollable due to lack of content
2. Scroll strategy evaluates if it is able to block and evaluates to false based on the non overflowing body
3. Rest call finishes and populates the ta

[2020-05-06 13:42] christian-fischer commented on #951
We have exactly the use case that @Argeath described, with lots of tags for filtering in the new problems view. We only want to return a subset of tags from the server, matching the query that the user entered in the filter field. And we might even have to limit those matching results as there might be too many. So a way to indicate "truncated" results would be also nice.

[2020-05-06 20:56] devversion commented on #948
Sorry if that was not clear enough. We plan on making this more clear in the future by not exporting anything from `cdk/schematics`, but exporting from `cdk/schematics/private`.

[2020-05-07 04:48] petrabrunner commented on #951
Hi, great to see that you plan to give the filterfield a makeover ;)

the usecase that we have is a bit complex, and I dont know if the suggestions above already cover it completely. We would love to be able to chain filterterms with logical-connectors (AND, OR,...)

f.e.:
show all for (creator=userx AND severity=high) OR (creator=usery AND severity=low)

we always refer to it as "the way jira let

[2020-05-07 06:04] tomheller commented on #951
@petrabrunner Unfortunately I don't think that this is a usecase for the filter field in particular, as this resembles more and more a query language pattern. There sure are usecases for your type of queries as well, but I would try not to mix query-language functionality with the filter field.
The example given by you may seem to work in a filter field context, but if you refer to _the way jira l

[2020-05-07 06:20] petrabrunner commented on #951
@tomheller thx for the reply - tbh. I already expected this - as the logic would be quite extensive - but I figured, if I dont tell you about our usecase you dont know about it ;)

[2020-05-07 06:48] Tomasz-Jasinski commented on #879
@ffriedl89 : your example on stackblitz performs ok. However in real life scenario each column usually engages a set of elements (links, spans etc.) and the page contains extra data besides the table.

Regarding the idea of creating virtualized version on my own: probably it's possible. But idea was to make the fix public that other teams (like user session monitoring) would use that.

[2020-05-07 06:50] tomheller opened #962 "Design tokens: Create a dependency graph view"
# Feature Request

To see where specific design tokens (especially aliases) are being used, we should build a dependency visualization, so we can immediately check the results of a changed token.

I.e. i want to change the `spacing-small` token, I would want to know that the button is affected.
We can do this by analyzing the yaml token files in the _patterns folder and finding the alias reference

[2020-05-07 07:02] ffriedl89 opened #963 "[Overlay / Tooltip] Tooltip directive"
Most of the usages of our dtOverlay are actually to display additional contextual information inside a tooltip.
Note this is not supposed to be a chart tooltip. More a better title attribute on an element.

In order for us to migrate away from the current dtOverlay we need to provide alternatives to the user.

A DtTooltip directive makes sense for those easy tooltip usecases. For more advanced use

[2020-05-07 07:19] ffriedl89 commented on #879
@Tomasz-Jasinski I understand that a reusable approach would be ideal, but given that we don't know the application layout (scroll container) on our level this is really hard to get done on the component level. You still can create a reusable functional version in your app in a shared module/lib that others might use.

Regarding the performance - I get that a cell might have more content / element

[2020-05-07 08:56] tomheller commented on #880
Hi @beeme1mr! I quickly wanted to reach out if you will need any guidance or help on your end? Are you blocked by anything here or is it _just_ time that you need?
If you want, you can reach out and we can go through the contributing process together.

If you think you will not have the time to contribute on this specific issue, please let us know so we can open it up for others to contribute agai

[2020-05-07 08:58] #461 closed

[2020-05-07 09:33] SkaillZ opened #964 "design-tokens: Change naming to be based on contrast and support theming"
The naming scheme that is currently used in the design tokens doesn't work with a light and dark mode (e.g. `--color-nasty-orange--light` -> if it's "light" or "dark" depends on the base color). The theme must also be included in the name (light = "surface", dark = "abyss").

**Proposal:**
base color: `$fluid-color-abyss-nasty-orange-100`
less contrast: `$fluid-color-abyss-nasty-orange-90`
more co

[2020-05-07 10:09] ffriedl89 opened #965 "[Schematics] Create dt-example schematic"
We want to reintroduce the schematics that we had in the past and we need to adjust them to the structure of the repository.

The dt-example schematic should create an example for a given component. If the component's folder in the lib already exists - only create the example. If it does not exist create the folder as well.

Keep in mind that this schematic should later be used in the dt-component

[2020-05-07 10:14] ffriedl89 commented on #965
Linked to #889

[2020-05-07 10:24] ffriedl89 opened #966 "[Schematics] Create dt-dev-page schematic"
We want to reintroduce the schematics that we had in the past and we need to adjust them to the structure of the repository.

The dt-dev-page schematic should create an page in the dev app. If the component's folder in the lib already exists - throw an error.

Keep in mind that this schematic should later be used in the dt-component schematic that calls the other schematics that make up the pieces

[2020-05-07 10:24] ffriedl89 commented on #966
Linked to #889

[2020-05-07 10:28] ffriedl89 opened #967 "[Schematics] Create dt-e2e schematic"
We want to reintroduce the schematics that we had in the past and we need to adjust them to the structure of the repository.

The dt-e2e schematic should create an page in the componets-e2e. If the folder in the lib already exists - throw an error.

Keep in mind that this schematic should later be used in the dt-component schematic that calls the other schematics that make up the pieces.

After ru

[2020-05-07 10:29] ffriedl89 commented on #967
Linked to #890

[2020-05-07 12:08] beeme1mr commented on #880
Hi @tomheller, I plan on working on this but haven't found the time yet. I might be able to work on it later today. It appears to be a straightforward change but I'll reach out to you directly if I run into issues.

[2020-05-07 12:43] NinaKammerlander opened #970 "Card: Change theming to custom properties"
Based on what we have learned from re-theming the button in #920, we should switch the theming of the card-component to use custom properties and the new theming.

Card has the following themes:
- light
- dark

Goal of this issue is to remove our current theming approach of generating css classes for all themes and switch to css custom properties.

[2020-05-07 12:48] NinaKammerlander opened #971 "Checkbox: Change theming to custom properties"
Based on what we have learned from re-theming the button in #920, we should switch the theming of the alert-component to use custom properties and the new theming.

Checkbox has the following states:
- default

In the following themes:
- light
- dark

Goal of this issue is to remove our current theming approach of generating css classes for all themes and switch to css custom properties.

[2020-05-07 12:57] #926 closed

[2020-05-07 14:00] #210 closed

[2020-05-11 05:49] tomheller opened #975 "Table datasource documentation"
The DtTableDataSource has a lot of undocumented features that can be quite beneficial for advanced usage, i.e. the functions
* `addSortAccessorFunction`
* `removeSortAccessorFunction`
* `addComparatorFunction`
* `removeComparatorFunction`

As the table documentation in itself is already quite long, it might be feasible to create a sub page for the datasource documentation where all use cases are o

[2020-05-11 08:00] #880 closed

[2020-05-11 08:24] #835 closed

[2020-05-11 08:50] SkaillZ opened #977 "design-tokens-ui: Theming support"
The design tokens UI should support dark and light mode to provide different palettes and automatically select a base color. Follow-up to #964.

Hardcode theme names for first version - no dynamic metadata from the build is required right now.

The app should change it's coloring for all content depending on the theme switch

[2020-05-11 09:51] ffriedl89 commented on #847
@SkaillZ & @tomheller I'd suggest closing this with the current state after #910 is merged

[2020-05-12 05:17] lukasholzer opened #986 "Bazel: Build the workspace library with bazel"
# Feature Request

Build the workspace library with bazel as it is the most separated and bottom library in our dependency graph. The only reference where this library is built is the `postinstall`.

The workspace library builds all the scripts that are needed by the CircleCi and the Angular Builders.

## Requirements

When building this library with Bazel we have to utilize a bundler like webpack

[2020-05-12 06:28] subarroca commented on #884
#988

[2020-05-12 06:35] #853 closed

[2020-05-12 06:38] #739 closed

[2020-05-12 11:43] #4 closed

[2020-05-12 11:44] #948 closed

[2020-05-13 05:32] lukasholzer opened #993 "Bazel: Research general way to chain task dependencies."
# Feature Request

We need something that we can chain our tasks like Gulp so that we can execute tasks in **series** or in **parallel** before something else is running.

The series or parallel execution is a minor just keep it in head while researching.

## Needed by

![image](https://user-images.githubusercontent.com/11156362/81774850-d4678180-94eb-11ea-8691-d0f3358eb437.png)

[2020-05-13 05:39] furtnerl opened #994 "Provide Remote Build Cache"
One essential part of the switch to Bazel as a build system is the possibility to use remote build caches.
This issue is to provide a remote build cache. Also configuring the build to use it is part of the issue.

## Who is allowed to read and write?
Generally, only the CI is allowed to write to the build cache
Consuming the build cache should be possible for CI and developers

## Disabling the bu

[2020-05-13 05:39] lukasholzer opened #995 "Bazel: Investigate output Directory."
# Feature Request

By default, bazel generates some symlinks while building.

[code]

This output structure is not really compatible with migrating bezel seamless in our workspace. Because it would require running every nodejs compiled script with bazel as the location is always different depending on where the bezel build cache is located in the operating system.

It should be somehow possible to

[2020-05-13 05:50] lukasholzer opened #996 "Bazel: Integrate Bazel build and run commands in the Angular CLI"
# Feature Request

To get a seamless integration part it is key to provide the same commands for building targets to the consumer. To prevent any hiccups during the migration phase the command for building the workspace is currently `ng build workspace` and should stay exactly the same.

Investigate if there is already something or we have to write our own builder.

As a bonus think about using `i

[2020-05-13 05:55] lukasholzer opened #997 "Bazel: Run scripts as executable binary"
# Feature Request

Running scripts like the `dist/libs/workspace/src/scripts/affected-args.js` that is generated via an `ng build workspace` should be possible with bazel run commands.

Provide an outlet that those files should not be run via node directly instead of use bazel for running. (Bazel Target)

[2020-05-13 06:20] tomheller opened #998 "Regression: DisabledColor variable is used to generously"
After changing the disabled color definition in #880, we have noticed that the disabled color is used to generously throughout the component styles, even when not in disabled modes.

I suggest to remedy this with a fix and a patch release of 6.5.1.

The following occurrences should be replaced with $gray-300

## Identified problems

Autocomplete
https://github.com/dynatrace-oss/barista/blob/d1502a

[2020-05-13 06:27] tomheller opened #999 "[Formfield]: Focus management and outlines are weird"
# Bug Report

The focus management of the form field, especially when used with infix and/or suffix inlays looks a little weird:
![image](https://user-images.githubusercontent.com/6338434/81778458-38417880-94f3-11ea-8589-b45ede7a301a.png)

## Expected Behavior

I would expect that the input field within the form field would not get an extra outline around it.

## Current Behavior

See the image ab

[2020-05-13 08:51] lukasholzer opened #1003 "Bazel: Add linting for .bazel or .bzl files."
# Feature Request

To stick with conventions and best practices by the google team that helps us to avoid errors. We should add listing and formatting for Bazel files as I don't want to do it manually.

Use [Buildifier](https://github.com/bazelbuild/buildtools/tree/master/buildifier) for this.

[2020-05-13 10:12] #998 closed

[2020-05-13 12:12] #912 closed

[2020-05-13 13:50] tomheller opened #1009 "Unify disabled state of compontents"
# Feature Request
We should unify the visual representation of our components (that can be disabled).
As the changes in #880 (PR #973) caused some side effects that were reverted / remedied by #998 (PR #1001) showed some space for improvement and unification of our visual representation of disabled components.

## Summary

Unify the visual state of disable-able components. These are

* button (pri

[2020-05-14 05:09] lukasholzer opened #1011 "Bazel: Use Rollup bundler to create bundle instead of the wrapped tsc"
# Feature Request

Currently, we are building the workspace library with the `wrapped_tsc` that is coming with the `ts_library` rule. But as we depend on the `@dynatrace/shared/node` library inside the `@dynatrace/workspace` those imports are not bundled.

![image](https://user-images.githubusercontent.com/11156362/81895195-ffb4a400-95b1-11ea-837c-b73fd89d6deb.png)

As the builders have to be exec

[2020-05-14 05:12] furtnerl commented on #995
It turned out that usually the prefix of the symlinks that Bazel creates is modified via .bazelrc.
Altering the structure of how the build output folder is organized is something that is at best dangerous to do. The tradeoff to adapt all the paths that references the dist/ folder is better than trying to change the fundamental layout of the build system.

[2020-05-14 05:13] #986 closed

[2020-05-14 06:15] #995 closed

[2020-05-14 07:13] subarroca opened #1013 "CSS custom properties present issues without Ivy"
# Bug Report

The way custom properties are implemented in radial chart and sunburst is working correctly with angular@9 if ivy is enabled in the project but if not enabled it's not set in the compiled html

## Expected Behavior

custom property should be present in compiled html

## Current Behavior

Currently it only happens if ivy is enabled

### Used Versions:
- **angular**: 9.1.0 (without ivy

[2020-05-14 08:03] tomheller commented on #905
Progress is blocked here. @lukasholzer please reach out to @rowa-audil if you have time to tackle this one

[2020-05-14 09:21] lukasholzer commented on #993
This can be achieved by providing the `data` property. This enables chaining static assets that are not dependencies.

like:

[code]

[2020-05-14 09:21] #993 closed

[2020-05-15 05:51] lukasholzer opened #1018 "Bazel: Run Bazel build on the CircleCi"
# Feature Request

Run bazel build on the circle CI in an extra workflow that is running in parallel with the `pr-check` workflow that we do not affect current development.

This workflow should reuse the dependency install job and add another job for the `bazel build //...` commands.

This workflow should only run with a `branch-filter` for all branches that are not forks.
Exclude all `pull/${num

[2020-05-15 06:49] furtnerl opened #1019 "Research why buildifier is rebuilt from source"
When trying to execute the //:buildifier target from a pre-commit hook, we saw that it had to rebuild the buildifier bin for every commit. This is unacceptable for pre-commit hooks as it would be slowing down the developer workflow.

Goal of this issue is to check why buildifier had to be rebuilt, or find a way to execute buildifier for every commit without slowing down developers

[2020-05-15 08:00] #909 closed

[2020-05-15 08:25] #465 closed

[2020-05-15 09:20] #1003 closed

[2020-05-15 09:43] christian-fischer commented on #868
@thomaspink we have a very similar usecase as @andular
(async loading of tags, result filtered on server)
I will prepare a PR for this change you proposed.

[2020-05-15 09:53] heartdisease commented on #673
I propose the addition of two more inputs:
| Name | Type | Default Value | Description |
| --- | --- | --- | --- |
| loading | boolean | false | When set to true, a loading indicator is shown to show to the user that data is currently being loaded/filtered |
| displayWith | (value: T) => string | (value: T) => `${value}` | A function returning a display name for a given object that represents an o

[2020-05-15 11:56] christian-fischer opened #1024 "running lint-styles target fails locally, succeeds in ci: No files matching the pattern"
# Bug Report

## Expected Behavior

I expect lint-styles to also succeed locally, when it succeeds on the remote branch in the ci

## Current Behavior

lint-styles fails with multiple errors, all starting with "No files matching the pattern ..."
(full log in attachment)

## Steps to Reproduce

1. checkout `barista/extend-filter-field-for-partial-data`
2. run `npm run affected:stylelint -- --parall

[2020-05-15 13:48] christian-fischer opened #1025 "quick-filter: expose inputChange and currentFilterChanges from filter-field"
# Feature Request

## Summary

In order to use async/partial options in the filter-field part of quick-filter, I'd like to use the `inputChange` and `currentFilterChanges` outputs.

## Feature Description

**Problem**: currently the quick-filter does not expose the `inputChange` and `currentFilterChanges` outputs from the filter-field. Therefore no async/partial options are possible. But we would

[2020-05-17 12:27] lukasholzer commented on #1024
Hey, Thank you very much for submitting this issue! We will take further investigations on this topic. Maybe @bardosmisi can you try it out on your machine as you use Windows 10?

[2020-05-18 05:19] lukasholzer commented on #1025
Hey, thank you very much for filing this feature request!
It is pretty awesome that you are playing around with our experimental quick filter!

Are you willing to contribute this feature to the quick filter? This would be very helpful if you need this issue in the near future.

[2020-05-18 08:49] thomaspink commented on #951
We would also need the feature of loading data for autocompletes as partials. E.g. load the first 100 options and when searching for an option load the filtered ones from the server.

The PR for the current implementation can be seen here: https://github.com/dynatrace-oss/barista/pull/1021

[2020-05-18 10:05] airime commented on #951
Hello everyone, we have a couple of petitions too, sorted from more to less prioritary:
* The ability to set default minimum and maximum numeric values for range filter types.
* A new filter type: the date picker.

Thanks!

[2020-05-18 11:33] #905 closed

[2020-05-18 12:48] Tomasz-Jasinski commented on #879
This request is probably a duplicate - see: https://github.com/angular/components/issues/13862

[2020-05-18 13:08] christian-fischer commented on #1025
Yes, at least it seems like a small change - so I could take care of that.

[2020-05-18 13:29] christian-fischer opened #1038 "Running a11y does not work on windows"
# Bug Report

## Expected Behavior

 I expect a11y-tests to work on windows.

## Current Behavior

Regardless of used browser (tested with several), the execution fails as soon as the browser tries to open the page at 0.0.0.0

## Possible Solution

As a workaround suggested by @lukasholzer replacing `"host": "0.0.0.0"` with `"host": "localhost"` seems to work.

## Steps to Reproduce

1. run `ng bu

[2020-05-18 15:41] rowa-audil opened #1042 "Barista: Evaluate `most ordered`list."
# Feature Request

Our most ordered tile is currently a hardcoded list.
**We should evaluate which are most ordered** and display them on the index page

Possible Solution: Calc the avg of visits on each page and the top 7 are displayed(/also saved in a list somewhere?).

[2020-05-19 05:43] tomheller commented on #1042
I'm guessing we first would need some sort of analytics. We can probably set something up within dynatrace to monitor the application. Since the infrastructure move of the deployment I don't think that this has been set up correctly again.

[2020-05-19 05:44] lukasholzer opened #1043 "CI: Add a test matrix to run jobs on different OS"
# Feature Request

As we run in several platform issues with windows we should run tests on the ci (at least on the master branch) in different platforms like windows and ubuntu.

**This should not be a test for an output bundle!**
It should be a test that everything is working as expected for our contributors. Testing a contributors workflow should be key.

## Feature Description

In the circleci

[2020-05-19 05:46] tomheller commented on #1025
@christian-fischer yes, if you like, please take care of this one.  I agree that this should be a fairly small change.

[2020-05-19 05:46] lukasholzer commented on #1038
Thank you very much for filing this detailed description! ✌️
Are you willing to contribute this fix for us as you work on a windows machine? From my perspective, there should not be a downside to switch the host to `localhost`.

[2020-05-19 05:48] lukasholzer commented on #1025
I think it should be more a proxy of the events to the quick-filter.

[2020-05-19 06:09] lukasholzer opened #1044 "Bazel: Build NgModule with bazel rule"
# Feature Request

Build an NgModule inside the components with a bazel rule.

The components package should have a BUILD bazel file for generating a ng_pagckage and the components itself should have a build bazel file, that takes care of the ngModule.

[2020-05-19 07:02] christian-fischer commented on #1024
I noticed this popup in vscode as well, not sure if this is related or not:
![image](https://user-images.githubusercontent.com/5974170/82295059-71745f80-99af-11ea-8489-a77e95b38642.png)

[2020-05-19 08:08] cprohinig opened #1046 "[Table]: simple column comparator @Input causes error on navigation"
# Bug Report
When setting a custom comparator function to a simple column via the template, and having this column sorting active, on page leave the following exception appears in the console:

`Error: "Cannot move a destroyed View in a ViewContainer!" `

## Expected Behavior

Custom comparator functions, when set in template should behave just like default sorting of columns or setting the compar

[2020-05-19 09:18] tomheller commented on #1046
Hi @cprohinig! Can you please attach a stackblitz example that reproduces the issue.
It should not matter if you navigate away or destroy the component via an ngIf, either way I assume the problem exists when destroying the component.

[2020-05-19 10:28] cprohinig commented on #1046
I added a stackblitz as well as exact steps to reproduce.

[2020-05-19 10:54] tomheller commented on #1046
Nice, thank you. I will have a look as soon as my time allows it.

[2020-05-19 12:22] lukasholzer opened #1048 "Add library consumer Test."
# Feature Request

Currently, we don't know how a change in the library affects our consumer and if something would break as we only consume the source files.

Now with bazel it is super important to check if the changes would break anything on the consumer site. I would suggest adding a containerized e2e scenario where to check if the bundled output of the library is still working.

## Steps to t

[2020-05-19 13:29] #1024 closed

[2020-05-19 13:30] #1038 closed

[2020-05-19 14:47] dt-mafe opened #1052 "Checkbox table"
# Feature Request

## Summary

Create a column that allows you to select rows in a table similar to the already existing favorite column. The column should show a checkbox for each row and in the column header. The table data source should keep track of selection changes.

## Feature Description

The new column should show check-boxes for each row. Optionally, it should also show a checkbox in the

[2020-05-20 06:35] subarroca opened #1053 "Radial chart with selection and relative values"
# Feature Request

## Summary

Radial chart is missing some features, like displaying percent values and being selectable

## Feature Description

* Selection should be possible. either by input or by click
* Selection is not always needed so it should be disabled by default
* Values in legend should also be toggled from absolute to percent

[2020-05-20 06:46] subarroca commented on #1053
Adding inputs for `DtRadialChart`:

- `selectable`: `boolean`. Whether it accepts selections or not. Default: false
- `valueDisplayMode`: `absolute` | `percent`. Format of the values in legend. Default: absolute

Adding input and output for `DtRadialChartSeries`:
- `selected`: boolean
- `selectedChange`: Emitter

[2020-05-20 06:55] #786 closed

[2020-05-20 07:11] rowa-audil opened #1055 "barista: Fix code highlighting in barista"
Code examples in barista aren't highlighted

**Expected Behavior**: Code should have highlighting

**Current Behavior**: Code isn't being highlighted

**Possible Solution**: Find out what causes it.

**Steps to Reproduce**: visit a page with code examples.

[2020-05-20 07:16] #970 closed

[2020-05-20 07:19] rowa-audil opened #1056 "Custom properties: Add mixin containing properties that are redundantly defined multiple times"
Let's add a mixin for all colors which are needlessly defined in multiple themes.

[2020-05-20 07:22] lukasholzer commented on #1055
Add E2E tests for barista that should check this, that this does not happen anymore in the future.

[2020-05-20 07:24] #958 closed

[2020-05-20 07:38] tomheller opened #1057 "Design Tokens - Requirements gathering"
We are planning to include Design Tokens into our library for everyone to use. If you are not familiar with design tokens, you can use these resources to familiarize yourself with the subject, but the gist of it is to have a central definition for every spacing / color / border / radius / opacity / font / ... used within the design language to make the design more consistent.

* https://spectrum.a

[2020-05-20 07:54] #957 closed

[2020-05-20 07:55] #971 closed

[2020-05-20 08:11] lukasholzer commented on #1052
Hey, thank you very much for filing this issue! Are you willing to contribute this to the library?
If you want to please use this issue and provide an API proposal for the component.

As a reference this would be a good API proposal: https://github.com/dynatrace-oss/barista/issues/673#issuecomment-612874961

[2020-05-20 08:53] tomheller commented on #1053
@subarroca This looks good, thank you for adding this to the library.

[2020-05-20 09:02] ffriedl89 commented on #1057
We were debating whether utility classes ala tailwind make sense for us.
For spacings this would mean that we would need to generate a lot of css classes. Without proper tooling (purgeCSS for unused classes) the amount of css code shipped can get quite out of hand.
e.g. for spacing-xl we would need to create
[code]

So roughly 10 css classes for one spacing token. If unused and not removed from th

[2020-05-20 09:03] #1013 closed

[2020-05-20 09:20] ffriedl89 opened #1061 "API Guardian"
# Feature Request

## Summary

Introduce a typescript api guardian to ensure semantic versioning

## Feature Description

Currently the repository and components keep growing and it gets harder and harder to ensure that no breaking changes go through during reviews.

By adding an automation that checks the new d.ts files against a static set on each PR we can ensure that no breaking changes go thr

[2020-05-20 09:23] ffriedl89 commented on #1061
@thomaspink might know how the material team is doing it :)

[2020-05-20 09:34] thomaspink commented on #1061
material generates `d.ts` files for each package/component and stores it [here](https://github.com/angular/components/tree/master/tools/public_api_guard). It will then compare the new `d.ts` file with the stored one and if there is a change it will report an error. If the api change is intended by the developer, a [script](https://github.com/angular/components/blob/master/scripts/approve-api-golde

[2020-05-20 10:41] ffriedl89 commented on #1052
@dt-mafe Thanks for creating this. I think you outlined the plan pretty well already. I think the only thing missing is the components, inputs, outputs and method listed

[2020-05-20 10:41] tomheller commented on #828
Closed by #734

[2020-05-20 10:41] #828 closed

[2020-05-20 10:58] ffriedl89 opened #1066 "ng add is not adding the HttpClientModule"
# Bug Report

## Expected Behavior

When running ng add the DtIconModule gets added and also the HttpClientModule gets added if not already present.

## Current Behavior

The HttpClientModule is not added but required for the DtIconModule to work.

## Possible Solution

Add the addition of the HttpClientModule to the ng add schematic

## Steps to Reproduce

1. ng new mytestapp
2. ng add @dynatrace

[2020-05-20 13:35] dt-mafe commented on #1052
### API Proposal

#### Checkbox column
[code]

#### Inputs

Name | Type | Default value | Description
-- | -- | -- | --
showHeaderCheckbox| boolean | true | Whether a checkbox is shown in the column header or not
allSelected| boolean | false | Determines the header checkbox checked value
anySelected| boolean | false | Determines the header checkbox indeterminate value

#### Outputs

Name | Type |

[2020-05-20 13:45] schobocop opened #1070 "[Filter field] First entry always seems to be selected."
# Bug Report

## Expected Behavior

Only the entry where the mouse hovers over should be colored.

## Current Behavior

The entry where the mouse hovers and the first entry are colored

## Possible Solution

Should be fixed, since the user may be confused what he will select when clicking.

## Steps to Reproduce

Just try the first filter field here:
https://barista.dynatrace.com/components/filter

[2020-05-20 14:01] christian-fischer commented on #1024
I rebased my branch to the upstream master today, the commit `522e34d4 build(workspace): Fix affected linting on windows.` is now part of the branch; but running `npm run lint` is still failing on my machine - same error

[2020-05-20 14:36] christian-fischer commented on #1024
update: tried it a second time: now `npm run lint` finally succeeds

[2020-05-20 14:45] rarenal commented on #951
It would be really cool to support angular forms in the filter fields ;), so it's easier to manage from the consumer point. Maybe exposing a FilterFormControl for it would help
[code]
[code]
[code]

[2020-05-22 07:22] tomheller commented on #1070
Hi @schobocop ! This is an issue that we are facing for a long time already. It's the autocomplete / select dropdown hover & active states look the exact same.
We already had lengthy discussions with @dynatrace-oss/ux-core in the past, but I'm sure we can revisit this.
Any thoughts on this one @dynatrace-oss/ux-core?

[2020-05-22 07:38] rowa-audil opened #1072 "Scroll Spy active element bug"
A problem with the generated TOC is that it sometimes highlights the wrong element. The easiest way of reproducing this is to go to https://barista.lab.dynatrace.org/components/alert, click on 'Alerts in use' int the TOC, watch 'Do's and don'ts' gets highlighted.

Also there is a weird behavior of scroll jumps in case of a narrow mode barista. We were able to repro this behavior on the charts bari

[2020-05-22 08:39] ffriedl89 commented on #1070
I think it's time we do something about this :)

[2020-05-22 08:43] rowa-audil commented on #1042
Will do as soon as I am tackling this

[2020-05-22 10:56] #95 closed

[2020-05-22 10:58] ffriedl89 commented on #95
Fixed by #931

[2020-05-22 11:49] ffriedl89 opened #1074 "Add font design tokens"
# Feature Request

## Summary

The UX team provided the updated font styles for the next elements. Let's add them to the design tokens

## Feature Description

Font styles are built up from multiple tokens. A font style usually includes size, font-family, line-height, color. Maybe even more like text-decoration.

We need to add all of these single tokens to the design tokens and stitch them togeth

[2020-05-22 12:09] ffriedl89 opened #1075 "Barista - Next section"
# Feature Request

## Summary

We want to have a next section in Barista.

## Feature Description

The code for the next section can live here in this repo, but the content should only be coming from our CMS.
For the next section we need to move a couple of elements that we have in the app.html.

Goal of this issue is to have a route /next only showing a dark page. No breadcrumbs, footer or naviga

[2020-05-22 12:16] ffriedl89 opened #1076 "Switch to custom properties for theming"
# Feature Request

We have a couple of components remaining that use the old theming approach. Based on what we have learned from re-theming the button in #920, we should switch the theming of all the following components. Please check afterwards if the behavior with themes is the same. Switch to dark theme and also use one other theme like purple to verify that the component behaves the same.

Th

[2020-05-25 05:10] ursula-wieshofer commented on #1070
I agree, this has been postponed way too long already. A very popular way of showing the selected entry is just using bold font. This would then not interfere any more with our hover state (colored background). What do you think, should we change the active state to bold font?

[2020-05-25 08:19] #847 closed

[2020-05-25 08:25] #858 closed

[2020-05-25 08:33] #623 closed

[2020-05-25 08:38] #922 closed

[2020-05-25 08:42] #962 closed

[2020-05-25 09:48] #507 closed

[2020-05-25 09:52] #925 closed

[2020-05-25 10:03] #964 closed

[2020-05-25 10:04] #977 closed

[2020-05-26 06:21] #868 closed

[2020-05-26 06:24] ffriedl89 commented on #967
#1015

[2020-05-26 06:24] #967 closed

[2020-05-26 08:38] DorotkaMakotka opened #1081 "(font-styles.scss) default font definition for h3 is missing"
# Bug Report

## Expected Behavior

font-styless.scss (which is imported i.a. into cluster global styles) is expected to provide and ensure all font styling in accordance with barista design system, including the entry below:
[code]
## Current Behavior

Style definition for h3 is missing (since https://github.com/dynatrace-oss/barista/pull/550/files?file-filters%5B%5D=.scss)

## Possible Solution

[2020-05-26 08:44] tomheller commented on #1081
Thanks @DorotkaMakotka for noticing and fixing this 👍

[2020-05-26 08:48] DorotkaMakotka commented on #1081
(I'll push the fix in a moment)

[2020-05-26 09:36] #679 closed

[2020-05-26 09:54] #1081 closed

[2020-05-26 13:36] tomheller opened #1086 "[Design tokens ui]: Create section for spacings and z-index tokens"
As the ux core team progresses with defining design tokens for spacings and elevation levels, we can think about adding sections for these to the design tokens UI.

## Spacings

Spacings define the space between elements. Maybe we can add a modifable list of the spacing tokens that are present and visualize them with either _spacing_-sized boxes or components that already have the selected space b

[2020-05-26 15:39] lukasholzer commented on #1075
### Steps for creating a new app.

1. Create a new app with the Angular Cli `ng generate @nrwl/angular:application --name=next --style=scss --prefix=x --routing --viewEncapsulation=Emulated`
2. Create a shared library for the data access of strapi `ng generate @nrwl/angular:library --name=data-access-strapi --directory=shared --simpleModuleName --no-interactive`.
3. Add to the Jenkinsfile located

[2020-05-26 15:44] lukasholzer commented on #1075
To leverage Strapi for content delivery extract the files

[code]

into the new generated library and export them. After that adapt all paths from the relative URL to the new typescript path alias.

In the new app create a index-page component like in barista and add the BaPageGuard to the `canActivate` section.

now you need a `json` file called index in the location that is provided via the envi

[2020-05-28 07:02] rarenal opened #1091 "[Feature request] Custom template for DtSelect selected values"
# Feature Request
Add a way to provide a custom template for the selected value in the DtSelect

## Summary
The DtSelect provides a way to customize the options within the select by projecting content to the `dt-option`, allowing consumers to add icons, images and other HTML elements to every option. Once the value is selected though, the custom template for the selected option is not shown in the

[2020-05-28 12:37] #1025 closed

[2020-05-28 17:39] areknow opened #1097 "[Filter-field] Disabled state is not working (docs/stackblitz)"
# Bug Report

The disabled filter-field example does not behave as intended. The filters are modifiable even though the filter field is set to disabled state.

## Expected Behavior

No filters should be modifiable.

## Current Behavior

Filters are removable and the clear all button removes all filters.

## Steps to Reproduce

https://stackblitz.com/github/dynatrace-oss/barista-examples/tree/maste

[2020-06-02 06:14] tomheller commented on #1097
Hi @areknow!
Thanks for reporting this one. This seems to be a general issue that if filters are set programmatically after the disable state is set, that filters are not marked as disabled. I will have a look to and see if we can fix that one quickly.

[2020-06-02 07:59] #561 closed

[2020-06-02 07:59] #956 closed

[2020-06-02 08:16] #1074 closed

[2020-06-03 06:58] mohamediab opened #1103 "Confirmation dialog prevents mouse events from elements even when it is hidden"
# Bug Report
## Expected Behavior

Confirmation dialog should not interfere with the screen when it is hidden.

## Current Behavior

Confirmation dialog blocks all mouse events on table row although it is hidden.

## Steps to Reproduce

1. Have a screen that includes both a table and confirmation dialog
2. have multiple rows for table, the row overlapping with the confirmation dialog is not clicka

[2020-06-03 07:01] ffriedl89 commented on #1103
It's also reproducible on barista - https://barista.lab.dynatrace.org/components/confirmation-dialog if you scroll so the button of one of the examples is at the bottom of the screen the hidden confirmation dialog blocks interaction.

[2020-06-04 06:03] #1103 closed

[2020-06-04 06:07] #1097 closed

[2020-06-04 10:14] tomheller commented on #1070
@ursula-wieshofer sorry for the late response. Do you want to remove the background of the selected and add the bold font or leave the background and add the bold font?

[2020-06-04 11:50] ffriedl89 commented on #1057
After rethinking the scaling and bundle size, I think generating those helper classes for certain tokens should be good. Spacings for example should be rather small compared to colors for example. Colors have the issue that you would need classes for, background-colors, border-colors, font-colors, hover & active styles and with the amount of colors that we have this would result in an insane amoun

[2020-06-04 14:31] #966 closed

[2020-06-04 17:07] airime opened #1113 "[Filter field]: Chaining of selected nodes to construct custom key:value pairs"
# Feature Request

Allow dropdown selection of various filter options in succession, in order to compose a user-defined key:value pair.

## Summary

The `DtFilterField` component is currently implemented in a way that the first node you selected in the dropdown is used as the key, and after completing the filter the last node you selected is chosen as the value. This request is for adding a config

[2020-06-05 05:20] tomheller commented on #1113
Hi @airime ! Thank you for opening up this feature request.

I guess if we are talking about customizing the `key` displayed in the filter-field tag we should discuss a more generic approach that lets the consumer customize this based on a custom function that is provided.

__Scope__
Do you know if these customizations need to happen on a filter-field or filter basis?
Is there anything besides the

[2020-06-05 08:00] thomaspink commented on #1113
Hi @airime. As @tomheller said, thank you for this PR.

I got currently 2 solutions in mind. The second one more flexible than the first one:

**1.**
The filter tag (which is responsible for displaying on filter) right now takes an instance in the form of `_DtFilterFieldTagData` which holds all the necessary information for displaying and interacting with a filter. I would suggest to remove the pr

[2020-06-05 09:58] thomaspink opened #1119 "Select does not properly work with a form-field"
# Bug Report

## Expected Behavior

Select should work as a `DtFormFieldControl`

## Current Behavior

Click on a form field is not handled correctly; It seems that it does not fully implement the `DtFormFieldControl` interface.

[2020-06-05 10:03] thomaspink opened #1120 "Checkbox & Switch should also work with a form-field"
# Feature Request

## Summary

Currently the checkbox & switch components do not work with the form-field even as they are input components that represent a single value.

## Feature Description

Checkbox & Switch should implement the `DtFormFieldControl` to ensure they work with a `DtFormField`.

The value of the checkbox/switch in the formfield should bei the passed in Generic value type if the

[2020-06-05 10:08] thomaspink opened #1121 "Radio should work with a form-field"
# Feature Request

## Summary

Currently the radio components do not work with the form-field even as they are input components that represent a single value.

## Feature Description

As multiple radios or a single radio-group wrapping multiple radios represent one value, we limit the support for the form-field to the radio-group.

The radio-group therefore should implement the `DtFormFieldControl

[2020-06-05 10:12] thomaspink opened #1122 "Form field should only select and display supported controls"
# Feature Request

## Summary

The general ng-content selector of the form-field should only select `DtFormFieldControl`s to hide unsupported input controls and make it clear to the consumer that the component that has been provided as a control is not (yet) supported.

We need to test if it is possible to do an ng-content selector via a ts class (provider).

**Note:**
Limiting the ng-content sele

[2020-06-05 10:37] tomheller commented on #601
After an initial trial with defining this, we hit a little bit of a bump here. We were able to extract the affected components from a PR or changeset and pass them via a custom builder to the polite testcafe builder ( which runs a11y and e2e tests).
Unfortunately the `fixtureMeta` filter outlined above is a match all metadata filter and not a a match any.
So if the filter passed to the builder has

[2020-06-05 11:17] ddprrt commented on #1057
Ad Utility classes approach: I think we have to see Tailwind and utility class-based frameworks from a different angle. Not as an outlet providing design tokens, but as a design system as a whole. Tailwind's classes are pretty much defined, there is no room and no need for any other classes, everything else is just composition. This makes the CSS output constant. No matter which application you cr

[2020-06-05 11:38] lukasholzer commented on #601
spawn a worker for each test and try to run in the first worker fixtureMeta button, second worker expandable third worker table.

would be maybe an approach. Not sure if it is smart but yea. Then I would decouple the bootstrapping and serving to the app in the main thread and only start the test without the building of the app so the workers just would run the tests.

[2020-06-05 12:11] ffriedl89 commented on #963
Please reach out to @thomaspink before starting, he started investigating already

[2020-06-05 16:58] obarcelonap opened #1126 "Enhance DtFormattedValue with full display unit"
# Feature Request

## Summary

Expose the full display unit in DtFormattedValue.

## Feature Description

After using a formatter returning a DtFormattedValue instance there are use cases where the unit needs to be styled differently (eg. different font size or color).
Currently the full display unit is a composition of displayUnit, displayRateUnit and displayWhiteSpace and is implemented within t

[2020-06-07 00:22] #473 closed

[2020-06-07 00:22] #671 closed

[2020-06-07 19:43] obarcelonap commented on #1126
Just submitted a PR :)

[2020-06-08 05:45] ffriedl89 commented on #1126
@obarcelonap Thanks for creating the issue. I agree that the second option is the preferred one. And cool that you already submitted the PR for it.

[2020-06-08 07:54] #1066 closed

[2020-06-08 08:32] ffriedl89 opened #1132 "Table: Focus style of reorder number inputs is cut off on Firefox"
# Bug Report

## Expected Behavior

Focus style is not cut off. Same as in chrome
![image](https://user-images.githubusercontent.com/2905693/84009129-1eb91280-a973-11ea-8a8c-773bf4a70602.png)

## Current Behavior

In Firefox the focus outline is cut off.
![image](https://user-images.githubusercontent.com/2905693/84009163-2bd60180-a973-11ea-99b1-2d18cc7f3214.png)

## Steps to Reproduce

1. Go to ht

[2020-06-08 09:35] tomheller opened #1134 "Checkbox as webcomponent"
Build a prototype of the checkbox component that uses the design tokens and leverage the web-component framework already built for the button.

The API should mimic what we already have for the dt-checkbox in the angular code.

Further findings and requirements will be added here during the workshop.

[2020-06-08 12:44] lukasholzer opened #1135 "Bazel: Build barista tools with bazel"
# Feature Request

For the server-side rendering, the content for barista from strapi is needed therefore we have to build the barista tools with bazel.

To run a the output we can utilize the `npm_package_bin` this creates an output that would be normally generated via the `bazel run binary`

[code]

[2020-06-08 14:54] Tomasz-Jasinski opened #1141 "Table: Does not work with very large / infinite row count"
# Bug Report

## Expected Behavior

Table should support very large or even infinite count of rows.
Table scrolling performance should not depend on row count.
Table should use page verticall scorllbar (no individual page scrollbar).
Pagination is not an option because of poor user experience.

## Current Behavior

Table usage is limited to certain count of rows depending on row complexity. As who

[2020-06-08 14:56] Tomasz-Jasinski commented on #879
There is related bug reported: https://github.com/dynatrace-oss/barista/issues/1141

[2020-06-08 15:34] rowa-audil commented on #1075
Notes from the discussion (8.06) concern **How are the pages structured**:

The top navigation contains groupings of pages called _detail pages_(in the mock) which have the content.
Clicking on one group element opens an _overview_ or _intro_.
The sidenav then consists of sections for a grouping

[2020-06-09 05:29] #994 closed

[2020-06-09 05:51] tomheller opened #1142 "[Button Group]: Selection does not work when items are rendered with *ngFor when no value is given"
# Bug Report

## Expected Behavior

When generating the buttons in a button group in the template with ngFor, one would expect them to behave the same as if they would be hardcoded.

## Current Behavior

When using ngFor to create the button-group-items, the buttons are no longer selectable (or as can be seen within the example, are treated as a single entity).
[code]

## Steps to Reproduce

1. Op

[2020-06-09 06:39] ffriedl89 commented on #1141
@Tomasz-Jasinski is there a reason why #879 was closed in favor of this issue? There was already quite a discussion on there and i'd rather close this one and open the other one instead to keep track of this discussion

[2020-06-09 08:20] lukasholzer opened #1144 "Refactor examples tools library"
# Feature Request

Currently, we always have to build and run the `examples-tools` library when we want to e2e test or to build barista. This is quite cumbersome because it takes time without any code change happened.

Currently, the script located under `libs/tools/examples-tools` is generating the following things:

1. generating examples lib barrel file. (`libs/examples/src/index.ts`)
2. genera

[2020-06-09 08:55] jsjsat opened #1146 "Chart: Hovering over datapoint where series is undefined, adds an inactive state to the series for the whole chart"
# Bug Report

Highcharts 7 introduced a new default to the inactive state of a series, which you can see when you hover over a timestamp where there is no value for a series. What happens is, that the series gets an opacity of 0.2 for the rest of the chart, which is very confusion especially for stacked area charts.

## Possible Solution

As @ffriedl89 suggested opacity in the inactive value of th

[2020-06-09 11:33] SirTroyer opened #1148 "Add directive for text to confirmation dialog to make styling easier"
# Feature Request
## Summary

Add directive for text in a confirmation dialog to make styling easier when `dt-confirmation-dialog-state` also consists of `dt-confirmation-dialog-actions`. In which case the user would have to style the text himself to introduce a little margin between text and buttons.

## Feature Description

Currently, there is a directive for actions in a `dt-confirmation-dialog

[2020-06-10 00:21] #532 closed

[2020-06-10 00:21] #78 closed

[2020-06-10 00:21] #81 closed

[2020-06-10 05:46] tomheller commented on #1148
Hi @SirTroyer!

Instead of adding an additional directive for the text, as this can be styled however consumers want, as long as they create their own wrapping element, I would opt to add styling to the class applied to the `dt-confirmation-dialog-actions` directive and add the spacing there.

The default `ng-content` should still work the same without requiring an extra wrapping element for the t

[2020-06-10 11:19] thomaspink commented on #1119
Seems to work fine

[2020-06-10 11:19] #1119 closed

[2020-06-12 16:26] kaikcreator commented on #1113
Thanks for your suggestions @thomaspink!

Regarding the second approach, I understand that this one depends on an epic/story in order to change the logic to be template driven, right? Is there any time estimation / roadmap for this change?

[2020-06-15 12:21] #1120 closed

[2020-06-15 13:37] petrabrunner opened #1159 "dt-tile inputs color & disabled cannot be set via `(input-name)="method()`"
# Bug Report
 I am using the dt-tile component.
And I tried setting the color-/disabled-option via a method call like so:

.html:
`<dt-tile  (color)="getColor()" (disabled)="data()"> [...] </dt-tile>`

.ts:
[code]

regarding Expected vs Current behavior:

currently the two options do not react when set like this. I am not sure if that is expected behavior or a "bug" (or if my code is hiding a mist

[2020-06-16 00:21] #727 closed

[2020-06-16 05:40] tomheller commented on #1159
Hi @petrabrunner !
As you are trying to set the input of the dtTile, you will need to use the downstream binding in the template with the bracket syntax `[]`.
Bindings with braces `()` are to bind to output event data.

So this should work for you:
[code]

[code]

See the stackblitz example here: https://stackblitz.com/edit/github-egasbs?file=src%2Ftile%2Ftile-default-example%2Ftile-default-exampl

[2020-06-16 05:40] #1159 closed

[2020-06-16 05:55] petrabrunner commented on #1159
@tomheller  yes that works! 😅 thx for the hint!

[2020-06-16 06:09] #673 closed

[2020-06-16 06:32] lukasholzer opened #1161 "Pull Request Labeler remove stale labels."
# Feature Request

Remove `merge-ready` labels or `needs-changes` when the pull request gets updated.

![image](https://user-images.githubusercontent.com/11156362/84739271-94dcfb00-afab-11ea-8add-bcf7b9fc79e2.png).

I know this feature would only be possible for non forked pull requests but only there we can have those labels so it would prevent us from merging such PRs straight away where the rev

[2020-06-16 13:11] tomheller commented on #1113
I would still prefer the first approach, as it is less invasive to the filter-field itself. I have added the _requirement_ also to the list of requirements for the new filter-field.
@airime would this be something you would be willing to contribute to the library? We would offer assistance, if you need any help during the contribution process.

[2020-06-17 11:39] #1121 closed

[2020-06-17 11:53] peter-affenzeller opened #1166 "Table: Expression changed after checked error when reordering rows."
# Bug Report

## Expected Behavior

Reordering should not throw an error.

## Current Behavior

When reordering rows, an ExpressionChangedAfterItHasBeenCheckedError is thrown, which has not been reported before. So far, I've not been able to find the issue, already talked to @ffriedl89, who will help me figure this one out.

## Possible Solution

Must have something to do with where/when the new i

[2020-06-17 12:44] lukasholzer commented on #1166
Hi @peter-affenzeller Is this a regression or has it never worked?

[2020-06-17 12:48] peter-affenzeller commented on #1166
regression, did work with angular 9.1.6, but the error probably just hasn't been reported since the code didn't change, but after the update to angular 9.1.9 it is throwing the error.

[2020-06-18 05:38] #1132 closed

[2020-06-18 06:27] petrabrunner opened #1169 "[quick-filter] collapsable quick-filters OR a way to deal with filters with a huge set of values"
# Feature Request

## Summary

We are using the quickfilter component and are quite happy with it for our general usecase.
But we have a filter that has a lot of value-entries and makes it not very usable as a quickfilter.
(why we want this as a quickfilter see below)
Now it would be awesome if there was a way to show a fixed size of filter values and "show more" if the user needs to see more. I d

[2020-06-18 07:56] lukasholzer opened #1170 "Barista Docker image for Jenkins if failing"
# Bug Report

Our internal CI build on the Jenkins is failing, on building the Jenkins slave runner image.

It is failing on the install nodejs step. Try to install Nodejs differently.

![image](https://user-images.githubusercontent.com/11156362/84993578-c4c20500-b149-11ea-98ea-0484a85241c4.png)

[2020-06-18 08:31] tomheller commented on #1057
@ddprrt Toyed around with your idea a little bit, and I am positively impressed on what we were able to do with the configuration.
The css file has been generated based on the config enclosed.
Be aware that this only partially resembles our design tokens as colors and fonts are still in flux, but maybe you can already play around with it.

https://codesandbox.io/s/proud-shadow-6j6og?file=/index.ht

[2020-06-18 09:37] lukasholzer commented on #1169
Hey @petrabrunner!
Thanks for creating a feature request for this! As you can see on the screenshots this is already designed and thought of. As the quick filter is an experimental component we decided to skip this for the very first version.

But we are happy to get a contribution for this! So if you want this feature and contribute it we could support you with it!

![image](https://user-images.g

[2020-06-18 09:45] petrabrunner commented on #1169
@lukasholzer perfect! looks good!

if you are willing to support me in the process (as I am still quite a novice with angular I know I would need a bit of support/hints on how to write cleaner/better code) I'd certainly be willing to contribute. :) Probably not right at the moment, I'd have to schedule this, but Ill ping you when I know more.

[2020-06-18 11:02] subarroca opened #1173 "Sunburst-chart: various improvements"
# Feature Request

## Summary

Currently we have v1 of sunburst but after taking it to a real project there are some improvements to be done

## Feature Description

- Responsiveness. Currently the text scales and it's inconsistent with the rest of charts
- Better managing of overlay. Currently we have flickers in some cases
- Central label. Currently it can fall behind the slices and become unrea

[2020-06-18 11:03] tomheller commented on #1173
Hey @subarroca! Thank you for sticking with the component and keep improving it. Very much appreciated 🙌 🥳

[2020-06-18 11:22] lukasholzer commented on #1169
For sure I will explain it to you in detail and will guide you through we can do something like a pair programming session as well on that.

[2020-06-18 12:55] #1170 closed

[2020-06-18 13:03] #1055 closed

[2020-06-18 13:04] #1161 closed

[2020-06-18 16:15] SkaillZ opened #1175 "Improve test coverage of the Design Tokens UI"
# Feature Request

There are nearly no automated tests for the Design Tokens UI, so tests for services and views should be introduced.

[2020-06-19 06:04] lukasholzer commented on #1175
That is a great idea to add tests 💯

[2020-06-19 10:56] ffriedl89 commented on #1052
After a lenghty investigation and issues that came up during development of the checkbox-column and changedetection issues we decided to go a bit of a different route.

The initial idea was to have a checkbox-column similar to our other simple-column implementations. The CdkTable handles CD very strangely for those nested columns that contain the cellDefs internally. This caused ExpressionChangedA

[2020-06-19 14:30] Tomasz-Jasinski commented on #1141
After a recent my dev team grooming issue was classified as bug.
GitHub does not allow to change issue type (feature request -> bug) that's why I've registered this one.

[2020-06-21 00:23] #531 closed

[2020-06-21 00:23] #747 closed

[2020-06-21 20:26] ddprrt commented on #1057
Cool, this is exactly what I've imagined! Guess we can call this our first deliverable 😎

[2020-06-22 00:22] #535 closed

[2020-06-22 05:50] #1043 closed

[2020-06-22 06:10] #1053 closed

[2020-06-22 06:17] #1126 closed

[2020-06-22 06:25] ffriedl89 opened #1177 "Next: Layout concept research"
# Feature Request

For the next project we want to go further with what our components provide and investigate what a layout component should be doing.
Research what others are doing and how we can create components for the various usecases.

It will be a tradeoff between flexibility and easy of use.

E.g. Primer creates Grid, Box, Flex etc React components that move css features into react compon

[2020-06-22 07:07] ffriedl89 opened #1178 "Tabs as webcomponent"
# Feature Request

![image](https://user-images.githubusercontent.com/2905693/85258159-432ee780-b467-11ea-9b7f-bf690f7871f8.png)

We need tabs for the Next project. For the first version create a grouping component and a single tab component as a web component.
Leverage design tokens for styling.

Read up on a11y before starting
Check a11y information like https://inclusive-components.design/tabbe

[2020-06-22 07:32] ffriedl89 opened #1179 "Next: Publish package to internal npm registry"
# Feature Request

As a consumer i want to be able to install our awesome new Next components and deliverables like the tailwind css configured with our tokens.

Use what we already have in terms of Jenkins setup for internal publishing and package the subcomponents and potentially a tailwind css file and publish to our internal npm registry.

[2020-06-22 07:45] pawel-bugalski-dynatrace opened #1180 "Filter field: validation error is displayed while field is dirty"
# Bug Report

## Expected Behavior

Error message should be displayed only once field is submitted.

## Current Behavior

Error message is displayed for a split second while field is dirty.

## Attachments

Example reproduction of an issue:
[barista filter - blinking error.mov.zip](https://github.com/dynatrace-oss/barista/files/4811858/barista.filter.-.blinking.error.mov.zip)
This reproduction was

[2020-06-22 09:30] petrabrunner opened #1181 "[quickfilter] scrollbar within the quickfilter component"
# Bug Report

Hi,

I am currently using the quickfilter component.
There seems to be some issue with the height of the table-data, because the content of the quickfilter component is always accessorized with a vertical scrollbar. (See screenshot)

This bug is not critical - the only thing is, it takes space that could otherwise be used to display table-data. And its also curious it is present, sin

[2020-06-22 09:45] ffriedl89 opened #1182 "Generate tailwind styles based on our design tokens"
# Feature Request

Generate tailwind stylesheets based on our design tokens.
Tailwind lets you customize the values used for generating the classes. We can already leverage our design tokens for colors, spacings etc.

PoC done and looking good. We should now integrate this into the repository and create a script to generate the styles.

[2020-06-22 09:45] ffriedl89 commented on #1179
Include tailwind styles #1182

[2020-06-22 10:42] ffriedl89 commented on #1180
Thx @pawel-bugalski-dynatrace for reporting this issue.
It is actually intentional to display the error message once the field is dirty.

We show validation errors once the field is dirty and invalid - which means that the user interacted with it and there is an error

E.g. The user started typing in a required field (no error) - but then the user deletes the value (show error - since it was inter

[2020-06-22 15:01] subarroca opened #1190 "Event chart x-axis showing too many decimals"
# Bug Report

## Expected Behavior

Format should be time friendly, like `1 min 20 s`, but if not possible, as a short term solution `1.33 min` should suffice

## Current Behavior

When decimals are long we get a huge amount, like `1.3333333333333333333` and it's really ugly and sometimes illegible

## Possible Solution

This is bound to Duration Formatter. Probably it would be good to limit the a

[2020-06-22 15:02] subarroca commented on #1190
I can take this ticket but I need to know if the proposed solution of limiting the amount of decimals is the one to go

[2020-06-23 05:05] tomheller commented on #1190
I think with the duration formatter now being available, we should think about using this one to format the x-Axis.

https://github.com/dynatrace-oss/barista/blob/master/libs/barista-components/formatters/src/duration/duration-formatter.ts

[2020-06-23 05:26] tomheller opened #1191 "[checkbox]: Add host css custom property proxies"
Similar to the button, where we proxy a lot of css custom properties for styling and customization, we should do the same for the web-component checkbox as well.

Button example:
https://github.com/dynatrace-oss/barista/blob/5d67ed6bb1910515a9e8509534e2d62d687b0b4e/libs/fluid-elements/button/src/lib/button.scss#L4-L39

The one for the checkbox is probably a bit slimmer.

[2020-06-23 06:13] subarroca commented on #1190
We're already using this formatter, but the given result has too many decimals. My suggestion is adding a parameter to the formatter to specify the amount of decimals: if undefined then all, if defined the amount asked.
Does this work for you?

[2020-06-23 09:05] thomaspink commented on #894
Hey, will take care of it as the setting VCT also needs a date/timepicker now. In the following comments i will try to collect all requirements and the propose an API.

If you also have and features/requirements that should be in there, that are not yet listed, please let me know.

[2020-06-23 14:09] SaraDavilaMendez opened #1198 "Card: Info or help hover dialog"
# Feature Request

## Summary

Add optional info or help icon link to the top right corner of the cards component. If the user clicks it a hover dialog will appear and the other components will be cover by a dark shadow. See images below.

## Feature Description

Currently, the cards component is used every where and it can contain almost every thing in it. Therefore providing a way to explain in

[2020-06-24 05:31] tomheller commented on #1198
Hi @SaraDavilaMendez!
Thank you for bringing this to our attention. This seems like a valid addition to the library. Would you be willing to also contribute this feature? We would obviously support and guide you through the contribution process and help with any questions you might have.

@dynatrace-oss/ux-core Is this concept of the info bubble something that is limited to cards or is it more uni

[2020-06-24 05:52] ffriedl89 commented on #1198
As stated on the internal communication, this pattern is not recommended anymore. Instead more description should be added to the card in addition to more documentation content.

I couldn't find this pattern described on Barista anymore - so i guess we already removed that one in the past ;)

[2020-06-24 05:52] tomheller commented on #1190
If we add this, then it should only take affect if the `PRECISE` is passed. And we would need to make sure that we do not add unnecessary decimals, for example `1.00`.

As a solution to the event-chart specific problem I also found that we are passing `PRECISE` as a parameter here, I'd argue that switching this one to default, would get rid of the decimal problem entirely.
https://github.com/dynat

[2020-06-24 05:54] tomheller commented on #1198
Oh sorry, I was not aware of this fact.

[2020-06-24 06:04] tomheller commented on #1072
@rowaWill this be fixed by the refactoring done in #1110?

[2020-06-24 06:05] #1134 closed

[2020-06-24 08:03] rowa-audil commented on #1072
Yes. :)

[2020-06-24 08:35] #1181 closed

[2020-06-24 08:40] thomaspink commented on #894
# Requirements:

## General Requirements
- **Selecting a date**: The user must be able to select a date
- **Selecting a time**: In addition to selecting a date the user must also be able to select an additional time.
- **Prefill
- **Disabled**: The consumer may disable the whole datepicker.
- **Selectable range**: It should be possible to define the range of dates the user can select (can be imple

[2020-06-24 08:41] thomaspink commented on #894
Please post below the requirements/feature the datepicker should provide. I will add them in the list of the previous comment.

[2020-06-24 08:58] gselltho commented on #894
@thomaspink Thank you for taking care of this 👍
Your requirement description has already everything i would need. I have just a question regarding:
`Selecting a time: In addition to selecting a date the user must also be able to select an additional time.`
The time is meant as optional, i guess? Will I be able to chose what is selectable: only date, only time, or both in combination?

[2020-06-24 09:02] thomaspink commented on #894
@gselltho Thanks for the feedback 👍

The idea was to either have date and time as default, but you can disable the time part to make it date only, or the other way round. Not sure what the best way is (do more consumers need only a date selectors or the date/time one).

[2020-06-24 12:19] areknow commented on #894
It would be nice to be have control over timezone. Some of our use cases in spine X require UTC for interacting with certain legacy APIs.

Also like @gselltho said, having the option to have just date alone would be nice.

Thanks for this project!

[2020-06-24 14:13] toddbaert commented on #894
Will this include predefined relative dates? As in "now", "two weeks ago", etc?

[2020-06-25 00:22] #768 closed

[2020-06-25 07:27] pieniazek commented on #894
One more requirement (~ GTS):
- We'd need light and dark version

Nice to have:
- on mobile browsers -> fallback to native date/time picking controls

[2020-06-25 07:34] subarroca commented on #1190
Switching it to default breaks  the purpose of axis values because you could get multiple `<1` values.

I'm gonna open a PR with my suggestion only applied to precise, which totally makes sense

[2020-06-25 09:14] #796 closed

[2020-06-25 09:14] #1072 closed

[2020-06-25 09:25] #1179 closed

[2020-06-25 10:28] #1166 closed

[2020-06-25 10:53] sandroschmid opened #1202 "Colors for DtButtons with visited links are overridden with default colors in dark mode"
# Bug Report

## Expected Behavior

In dark mode, e.g. as in a `dt-context-dialog`, the dark theme should be applied to all buttons, no matter if it is a `<a dt-button variant="...">` or a `<button dt-button variant="...">` and no matter the link state.

## Current Behavior

When the link is set using `routerLink`, this is working as expected. But when using `href` instead, the colors are overridd

[2020-06-25 11:39] thomaspink commented on #894
@toddbaert Apart from the global timeframe selector is this also a usecase for this general datepicker?

@pieniazek added to list

[2020-06-25 12:05] ursula-wieshofer commented on #894
@thomaspink I think because of consistency reasons and to make the handling of the date picker easier for the user we should stick to the part of the global timeframe selector that also includes the calendar. The basic functionality and handling should be the same as well as the style.
This will support the user when dealing with it as he/she is used to the functionality already.
![Screenshot 2020

[2020-06-25 13:35] toddbaert commented on #894
@thomaspink  it wont be a deal-breaker for user, but we are exposing some UIs soon for which the predefined-relative dates could be useful.

[2020-06-25 13:37] thomaspink commented on #894
@toddbaert do you have a list of the supported values? I will add it to the nice to have list if its ok for you

[2020-06-25 14:52] kaikcreator opened #1206 "[Filter Field]: Multiselect option"
# Feature Request

## Summary

Add multiselect option into filter component

## Feature Description

Right now, the user cannot select several values for the same filter type in a grouped way. A multiselect feature will allow the user to achieve that goal.

Probably, the best approach would be creating a new panel for multiselection, following the same approach used with the range filter type. Thi

[2020-06-26 09:01] rowa-audil commented on #1206
Hello @kaikcreator,

thank you for proposing this request, we think this is a useful feature for the Filter Field. Would you be willing to contribute that yourself?

[2020-06-26 09:03] #1202 closed

[2020-06-26 09:29] rowa-audil commented on #1206
For the chosen one to create this feature, here is what you will need to proceed.

First, figure out an **API Proposal** that explains how you will build the feature.
What will you need to achieve that feature and what will change basically. The filter field is not for weak souls so prepare yourself to tackle this with critically thinking confidence.
Some questions come up concerning some edge cas

[2020-06-26 16:19] kaikcreator commented on #1206
Hi @rowa-audil , yes. Maybe not me, but someone in our team will contribute to this feature, definitely.
We will provide an API asap, but first we need to understand a bit better how the range option is implemented, because we thought we should follow a similar approach. Any suggestion here @tomheller @ffriedl89 ?

[2020-06-27 00:22] #621 closed

[2020-06-29 06:06] tomheller commented on #1206
@kaikcreator, the filter field is in it's current state not very extendible, that's why also the range is very interwoven with the filter field in general. There are a lot of things that determine what _overlay_ should open up.
I guess you should follow the approach of the range, but there are a couple of pitfalls, that may need to be taken into account.

## Datatype
The range defines it's own dat

[2020-06-29 07:07] #884 closed

[2020-06-29 11:29] thomaspink commented on #894
For the datepicker we would also need some kind of a service (similar to angular materials data-adapter) that provides us with the functionality and information so we can display the dates and the correct namings (including weekday names) on the one hand and calculate/work with native dates on the other hand. This "service" should then also be available to our consumers so they can work with dates

[2020-06-29 12:39] rowa-audil opened #1210 "Next display mock overview content"
### Feature Request

We want to display the overview page conforming to the mock we got.
Meaning this considers getting the fonts, having the right spaces, colors, components, etc.

Need to add the content to strapi. Make the route to the page available (should be handled already)
Use our design-tokens for spacings, color, fonts usw.

[2020-06-29 13:54] subarroca opened #1212 "Add series axis for stacked series chart"
# Feature Request

## Summary
Charts usually need a value axis and a series axis. Currently `seriesAxis` is incomplete

## Feature Description

Currently stacked series chart shows a valueAxis and series label but we also need a different case where series could be based on a numeric or date value.

### Solution
I suggest adding `seriesAxisMode` with possible values:
- `numberAbsolute`
- `numberPe

[2020-06-29 14:33] rowa-audil commented on #1178
# API Proposal for the __Tabs and Tab webcomponent__

## Overview

The **Tabs** web component wrappes **Tab** web components based on an array and will dispatch an event or set the currently active section after clicking on one of the Tabs.

## API
### Tab
#### Input:
- sectionId: string,
#### Output:
- sectionId: EventEmitter<string> and let the wrapper handle which section to show
- or setting t

[2020-06-30 05:42] tomheller commented on #894
@thomaspink I agree that we should create such an adapter service. I know that I stated previously, that I would love to use the `Intl` and `Date` natives for this one, but I double checked the [support](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat) for `Intl.DateFormat` and I'm not super happy about it. Especially the partially missing Range

[2020-06-30 05:56] thomaspink commented on #894
This PR is wip and i did not yet tackle the tasks that requires such a service. Still not sure which functionality we are gonna need for this service but i will start with a basic one and expand it on the way.

[2020-06-30 06:48] tomheller commented on #1212
Hi @subarroca !

I think that `dateRelative` and `dateAbsolute` could benefit from a more clear naming, like `date` and `duration` (if this is what it should mean).

---

This seems to become more and more like a chart that we can already do with highcharts. I'm currently questioning if the stacked-series-chart is exceeding it's boundaries and expectations a bit. Initially it was designed to be a

[2020-06-30 06:56] subarroca commented on #1212
I agree that this chart is getting more and more complex but as far as I know there's a 'get rid of highcharts' milestone. If the approach is to keep using highcharts then it makes no sense to do this ticket

[2020-06-30 07:04] tomheller commented on #1212
@subarroca You are right, this has not been communicated as clearly as we wished it would, but the `remove Highcharts` milestone has been postponed indefinitely for now. It does not seem feasible with the current workload and roadmap to work towards a highcharts-less barista-components library.

If you agree with this, I would suggest to close this ticket, and open another one with a rescoping of

[2020-06-30 07:17] subarroca commented on #1212
As we have the need for a chart like this in the series mode, with a legend, that it's something not initially useful for the chart in a table.

We created this chart because we could not make the overlay work correctly, so going back to highcharts is not an option for us. And yes, then I added more options because they made sense with the removal of the lib in mind.

The only thing that I think w

[2020-06-30 07:17] #1212 closed

[2020-06-30 07:39] NinaKammerlander opened #1213 "Mobile top nav for next section"
### Feature request

We should think about how the mobile version of the top nav for the next section should look like, as there aren't any mocks.

[2020-06-30 08:13] tomheller commented on #1178
- For now, we want to move the content that is being shown out of the `fluid-tabs`, so please exclude it from there.
- Please name the wrapper `fluid-tab-group`.
- The fluid tab group should have an event being fired when a tab is selected
- Please figure out and describe how a tab is set active (is that set on the group or on the actual tab)?
- Tabs should have id / unique identifier property.

P

[2020-06-30 09:08] rowa-audil commented on #1178
# Updated API Proposal
## Tab
### Properties
[code]

### Events
[code]
The event will support the keyboard as well. Currently, I'm basing the support on the arrow keys. Pressing the tabulator should set the focus to focusable elements inside the content of the tab group.

### Methods
A method that sets the clicked Tab to active for the tab-group to listen to that event

## Tab Group
### Properties

[2020-06-30 10:48] tomheller commented on #1178
This looks much better. I think we can remove the `disabled` on the tabgroup. I don't really see a benefit of disabling a whole tab group.

Maybe the tab-group will need an input that let's the consumer set the active tab right away.

[code]

This way, a consumer could define which tab should be active initially.

[2020-07-01 06:17] kaikcreator commented on #1206
Thanks @tomheller, this will definitely help us a lot!!!

[2020-07-01 10:18] piotrl commented on #894
### Time zones
Recently we dropped this requirement. There are many tiny yet complex details to consider with it that are hard to explain to user for UX perspective.

### Date-manipulation library
date-fns is fantastic API for time-shifting operations like `addMonth`, `getDaysInMonth`, `isToday`, `startOfTheWeek` etc. Tree-shake'ability makes it lightweight usage. Probably it'd cost as much weight

[2020-07-01 10:40] #1182 closed

[2020-07-02 06:56] ffriedl89 opened #1215 "Next: Cleanup Barista references & styles"
# Quality improvement

## Shared interfaces, functions and services

We copied or reused interfaces and functions from Barista. We should cleanup those things. Everything that is copied should be moved into a shared library, either shared-design-system-ui or the data-access library.
The shared interfaces should be cleaned up - some of them are already addressed in #1205 - Let's double check to mak

[2020-07-03 06:43] NinaKammerlander opened #1219 "Toc in Barista not working on pages coming from the CMS"
# Bug Report

The TOC is not working on barista pages that come from the CMS.

## Steps to Reproduce

1. open any page in barista, that is coming from the CMS
2. start scrolling down to get the console error.

## Possible Implementation

tocItems seems to be undefined for pages from the CMS. check if the toc-generator is working properly on all pages.

[2020-07-03 07:46] ffriedl89 opened #1222 "Switch as webcomponent"
# Feature Request

## Summary

We want to have a switch component for next as a webcomponent.

## Feature Description

The switch should look like
![image](https://user-images.githubusercontent.com/2905693/86444586-3afd6480-bd11-11ea-8b68-cbb44b8c8447.png)

Design details are available in the Figma file from UX. If you need a link - please reach out.

Additional important information and tips coul

[2020-07-03 07:47] lukasholzer opened #1223 "Bazel: Investigate linting package for bazel"
# Feature Request

Investigate the bazel linting system for eslint/tslint or maybe stylelint as well:
https://github.com/thundergolfer/bazel-linting-system

[2020-07-03 10:01] #1219 closed

[2020-07-03 10:38] tomheller commented on #1198
@dynatrace-oss/ux-core Any update on this one?

[2020-07-03 10:39] #1042 closed

[2020-07-03 10:42] tomheller commented on #1057
Automatic generation and embedding within the published package was done in #1199 and #1220

[2020-07-03 10:48] tomheller commented on #1222
Api should be rather close to the one of the checkbox, omitting the indeterminate state.

## Properties
`checked`: Whether or not the switch is set to 'on'
`disabled`: Whether or not the switch is in it's disabled state

## Methods
`toggle`: Toggles the checked state on / off

## Events
`change`: Change event fired when the switch changes state (only when triggered by user interaction).

[2020-07-03 11:30] christian-fischer opened #1227 "Empty Table should hide sort indicators out of the box"
# Feature Request

## Summary

We should hide the sort indicators if the table is empty.

## Feature Description

If a table is empty - i.e. when the empty state is shown - the table headers and their sort indicators are still visible.
Sorting an empty table feels kind of unnecessary.

Thus it would be really great if the table component could hide the sort indicators out of the box for empty stat

[2020-07-06 05:40] kathrin-aigner commented on #1198
This behaviour is not recommended anymore, since we had problems with that in the past. Instead of that please use a proper description within the card.

[2020-07-06 05:48] #1198 closed

[2020-07-06 07:33] ffriedl89 opened #1229 "Next: Publish next app"
# Feature Request

## Summary

We want to have the next app running internally.

## Feature Description

Adjust Nginx config so the next app and barista are both running internally.
The next app should be running under <internal-url>/next

Make sure that barista routes still work as expected.

Barista should still be served the same as currently.

[2020-07-06 07:35] ffriedl89 commented on #94
I've tinkered around quite a bit with this - unfortunately this is currently on hold due to other tickets having a higher priority.

[2020-07-06 07:35] #601 closed

[2020-07-06 07:37] rarenal opened #1231 "[Combobox] Several issues when selecting a value"
# Bug Report

## Steps to Reproduce (in Barista example)

* No other values can be selected after a value has been filtered and selected
    * Type “value 2”
    * Select “Value 2” option
    * Remove “2”, leaving “Value “ in the input
    * All items will appear but only “Value 2” will trigger on select. Keyboard navigation only allows to navigate to “Value 2” and selecting other values (by click

[2020-07-06 07:56] ffriedl89 commented on #1075
I think we can close this issue and have smaller followup issues that tackle the individual issues like sidenav, responsive top navigation and publishing

[2020-07-06 07:56] #1075 closed

[2020-07-06 08:51] #965 closed

[2020-07-06 11:10] tomheller commented on #1227
This is a good addition to the table and sorting behavior. It could be a bit tricky to get this into the rather extravagant change-detection of the table.
But it is definitely worth a shot. Would you be willing to contribute this feature to barista as well?

[2020-07-06 14:40] christian-fischer commented on #1227
Willing yes, but I fear time availability is another matter, at least in the short term I most likely won't get around to it.
As you mention the rather extravagant change-detection and since I haven't contributed to the table before, I might have some need of a bit of guidance then.

[2020-07-07 04:42] tomheller commented on #1227
Of course we would offer guidance to anyone willing to contribute to the project.

Thank you for being honest about this, we will keep this issue open for contributors and you can reach out if you want to tackle it in the future.

[2020-07-07 05:41] #1148 closed

[2020-07-07 07:55] thomaspink commented on #894
Thanks @piotrl

As far as i understand it, the DatePipe would be only useful for displaying the finally selected date, but not when calculating/displaying things like: All days of a certain month.

[2020-07-07 08:11] thomaspink commented on #894
Another positive side effect would be that if we stick closely to the api of the material date-adapter, and they are gonna move it to the cdk, we could easily adapt and change it.

[2020-07-07 09:59] thomaspink commented on #894
@areknow

Having a date-adapter would also solve this requirement, as the datepicker treats dates as whatever generic object the adapter provides. This can be a native Date, a Moment wrapper or date that always has a specific timezone.

[2020-07-07 10:19] piotrl commented on #894
I'm open to consider it. My initial thoughts are like raw Date object is used in 600+ places already (explicitly, can't count implicit usages), most of them won't be anyhow connected to calendar or even close to calendar as most of dates comes from backend. Using adapter for everything for sake of consistency with calendar might be overwhelming.

So if we decide to go with adapter, there are still

[2020-07-07 16:52] bradking1329 opened #1245 "Sunburst chart opening additional children"
# Bug Report
## Expected Behavior
When clicking on a certain child, only the children of that child should expand.
## Current Behavior
Clicking the 11th or 12th child in NORAM causes multiple children to expand, even if they do not correspond to the parent clicked.
## Possible Solution
Haven't looked at the source code, but seems like it may due to the raw number of entries in our chart, since it

[2020-07-08 06:06] tomheller commented on #1245
@bradking1329 Thank you for reporting this.
@subarroca Would you mind looking into this one?

[2020-07-08 07:38] #1173 closed

[2020-07-08 09:30] rowa-audil opened #1250 "Next top nav: fetching next categories from strapi and displaying them"
# Feature Request

## Summary

Currently we have our top bar navigation items hard-coded. Implementing a service into the page-service that returns an array of routes to each category would solve this.

## Feature Description

A Service that looks into what the next categories are that then are displayed in the top bar navigation.
Find a way to differentiate between current and next categories. A

[2020-07-08 09:40] subarroca opened #1251 "Stacked series chart axis ticks not well positioned"
# Bug Report

## Expected Behavior

Ticks should be set in place

## Current Behavior

Ticks are stacked at the beginning

## Possible Solution

It's an issue with non-ivy compilation and css custom properties.
Use the sanitazing function already present in the component

## Attachments

![image](https://user-images.githubusercontent.com/1245057/86903342-7d5ae300-c10f-11ea-9d4e-e7823b75ffae.png)

[2020-07-08 09:56] subarroca commented on #1251
Also, there's a small margin on the left, remove it when no label

[2020-07-08 10:05] subarroca commented on #1245
No problem. Assign it to me and I'll deal with it as soon as possible

On Wed, Jul 8, 2020 at 8:06 AM Thomas Heller <notifications@github.com>
wrote:

[2020-07-08 10:21] tomheller opened #1252 "Docker Bazel image build fails on circle"
# Bug Report

The docker workspace build job fails on circle CI. It seems as it is not able to install bazel or does not find it correctly.
https://app.circleci.com/pipelines/github/dynatrace-oss/barista/7362/workflows/6a2a3b5b-29be-4a36-baad-ab3a235e5a3e/jobs/44138

[code]

Issue is locally reproduceable and fails with the same problem.
A quick `ls /usr/bin` in the docker file shows that bazel is

[2020-07-08 11:35] subarroca commented on #1251
I can take it, no prob

[2020-07-08 11:36] lukasholzer commented on #1252
@tomheller thx for assigning will take a closer look

[2020-07-08 11:47] ap-dyna opened #1256 "[Filter field] Range filter breaks after data refresh"
# Bug Report

## Expected Behavior

After async data update, the range filter widget does not break. It e.g disappears like the autocomplete filter.

## Current Behavior

[Background: Some of the Dynatrace views are required to asynchronously update their data in tables. This requires filters to update as the autocomplete filters hold the values.]

Currently, when updating filter values, the widge

[2020-07-08 12:21] rowa-audil opened #1258 "[tab]: Add keyboard tests"
## Summary

Add keyboard test support to the tab and tab-group web components.

Have a look whether switching to a real browser resolves the dispatch keyboard issue with shadow dom. Check jest documentation for guidelines on how to switch from jsdom to real browser.

Maybe this resolves the issue of faulty dispatch keyboard behavior.

Testrunner of open-wc might be a good thing to check out.

Plea

[2020-07-08 12:24] rowa-audil opened #1259 "[tab]: Add host css custom property proxies"
Similar to the button, where we proxy a lot of css custom properties for styling and customization, we should do the same for the web-component tab and tab-group as well.

Button example:
https://github.com/dynatrace-oss/barista/blob/5d67ed6bb1910515a9e8509534e2d62d687b0b4e/libs/fluid-elements/button/src/lib/button.scss#L4-L39

[2020-07-08 12:38] tomheller commented on #1256
Hey @ap-dyna!

It seems to me that it does not make a lot of sense to update the data, while the user is mid filtering. You are potentially loading data, that would be filtered away after the user is finished with the filter.
Setting the datasource of the filterfield, while the user is in flight of creating a filter is really hard to for us to handle.
The filterfield gives you an event, when the f

[2020-07-08 13:11] #1175 closed

[2020-07-09 05:31] #1251 closed

[2020-07-09 07:57] steve-tanner opened #1264 "[Filter field] Remove filter while adding new filter"
# Bug Report

## Expected Behavior

Filter field does not go into weird state when removing a filter while adding a different filter and does not send incomplete change events.

## Current Behavior

Filter field does not show label of current filter -> you have to select an option or press backspace. When the selected filter is a freetext, you kind of think the filter broke, because there is no vi

[2020-07-09 11:03] #1231 closed

[2020-07-09 16:58] areknow opened #1270 "[Quick Filter] Distinct radio groups affect eachother"
# Bug Report

When using a basic QuickFilter with two config options using the "distinct" option, a bug is noticed between the two radio groups. Clicking a radio in one group will affect the selection of radios in the other.

https://github-mpgcfd.stackblitz.io/
https://stackblitz.com/edit/github-mpgcfd?file=src/quick-filter/quick-filter-default-example/quick-filter-default-example.ts

[2020-07-10 05:09] tomheller commented on #1270
Hi @areknow!
Thank you for catching this!
I can confirm that this is an issue when setting the filters via the quickfilter. The connection from the filter-field to the quickfilter seem to work (when setting the filters in the filter-field, they are reflected correctly in the quickfilter).

[2020-07-10 05:50] furtnerl commented on #1252
Will ultimately be fixed by #1266

[2020-07-10 11:19] ap-dyna commented on #1256
Hey @tomheller, thanks for the resp.:)

Having an _filteringInFlight_ event(s) that would notify when a user started and stopped focus on the widget is a good option. I think it will give a solution to omit the range widget getting broken.

As for the questions:
1. & 2. & 3. Having the _filteringInFlight_ event, a conscious filter client app would set appropriate [filters] and [dataSource] values

[2020-07-10 11:33] subarroca commented on #1206
Thinking of possible groups, it would be good to adopt autocomplete options and groups

[code]

Update `DtNodeFlags` with a new type

[code]

[code]

## DtFilterFieldMultiSelect ##
### Inputs ###
|Name|Type|Description|
|-|-|-|
|optionsOrGroups|`DtNodeDef<OpGr>[]`| Already selected options|

### Outputs ###
|Name|Emits|Description|
|   opened | `void`| Panel is opened|
|closed|  `void`| Panel is c

[2020-07-12 05:40] tomheller commented on #1256
Hey @ap-dyna!
Okay, I guess we can look into an event or property to indicate if the user is interacting with the filter field at the moment.

Could you please specify what you mean by conscious vs. non-conscious client app. I'm afraid I'm not quite familiar with this terminology.

[2020-07-12 21:17] #1252 closed

[2020-07-13 05:46] #1191 closed

[2020-07-13 10:21] #1180 closed

[2020-07-13 10:28] #1086 closed

[2020-07-13 10:41] #1229 closed

[2020-07-14 00:28] #745 closed

[2020-07-14 06:31] #1178 closed

[2020-07-14 06:33] #1190 closed

[2020-07-14 07:36] #1270 closed

[2020-07-14 12:21] #1264 closed

[2020-07-14 14:13] areknow commented on #1270
Just tested out the fix in 7.4.0 and I can confirm that it is fixed and working correctly. Thank you very much for the super fast resolution!

[2020-07-15 09:01] #1056 closed

[2020-07-15 12:04] bartoszbobin commented on #866
@ursula-wieshofer what about disabled input, select with placeholder?

For disabled input with text we use gray-300

Here is a compariston for disabled input with placeholder gray-300 vs gray-500
![image](https://user-images.githubusercontent.com/1777108/87542742-c5e04680-c6a3-11ea-9b67-c040d2674509.png)

[2020-07-16 09:03] #1215 closed

[2020-07-16 12:24] tomheller opened #1296 "[Filter field]: Refactor unit tests into multiple files"
The filter field spec file is getting very large and at this point, it is very hard to grasp which setup is used for which testcase within the file.

It would be great if we could split the tests into multiple files to make them more readable, as discussed in https://github.com/dynatrace-oss/barista/pull/1276/files#r453449163

[2020-07-16 12:38] subarroca commented on #1245
@tomheller this will be finally taken care by @PedroMosquera . Thanks!

[2020-07-16 12:39] subarroca commented on #1206
@tomheller I'll start with this next week

[2020-07-16 12:39] bardosmisi opened #1297 "Example Schematics fails on new example generation"
# Bug Report

## Expected Behavior

Running the example schematics should generate the new example, and not throw any errors.

## Current Behavior

Trying to run:
[code]
Will result in an error:
[code]

## Possible Solution

-Extend the schematics capabilities of handling different syntactic solutions.
-Convert all current examples to be compatible with the schematics.
-After the issue is fixed, p

[2020-07-16 13:25] sebapawlak opened #1299 "Filter field: required validation not being for the first time"
# Bug Report
For the filter field component `Validators.required` validation is not being triggered when a filter is selected and no value for the filter is provided. Likely caused by fix for https://github.com/dynatrace-oss/barista/issues/1180

When some value is typed and then deleted then it gets properly validated and a validation error is shown.

## Expected Behavior
When there is a validatio

[2020-07-16 13:49] tomheller commented on #1299
@sebapawlak Thank you for reporting this. I can confirm that this is an issue caused by the fix contained in #1180.

[2020-07-16 16:35] areknow opened #1305 "[Quick Filter] Programatically adding active [filters] causes ExpressionChangedAfterItHasBeenCheckedError and prevents handler from firing"
# Bug Report

When using the DtQuickFilter component and passing in an array of filters into the [filters] input, the component does not react as required like the DtFilterField does.

# What should happen

The DtQuickFilter component should react appropriately to filters passed into the [filters] input. Then the (filterChanges) event should be fired.

# What happens currently

The DtQuickFilter c

[2020-07-17 05:55] ffriedl89 commented on #1305
Hey @areknow thanks for providing a reproduction example and opening up the issue.
I guess that the event is not fired is by design - since you already set the filters you know that they changed - therefore we don't fire events right after inputs are set. We only fire events when the user interacted with the component. But i might be wrong in this case @lukasholzer you know more for sure :)

Regar

[2020-07-17 08:00] tomheller commented on #1305
At this point we are assuming that this is a problem when running in viewEngine.
We have tried to reproduce it in our dev and demos applications, and were not successful. We were not able to reproduce the problem outside of stackblitz.

@areknow can you confirm that the app you have noticed this problem in, is running in viewEngine (we know that stackblitz is running viewEngine)?

[2020-07-17 08:13] #866 closed

[2020-07-17 08:19] #1144 closed

[2020-07-17 08:37] rowa-audil opened #1314 "Next: Headline transformer"
# Feature Request

Since not all headlines fit into the document structure (e.g headlines in a card component), we need classes which would be assigned to headline elements because the current styling uses the element selectors.

The **scope of this PR** would be a _transformer_ for next pages which adds the headlines corresponding class to the element and changes the element selectors to classes.

[2020-07-17 08:49] ap-dyna commented on #1256
Nice.

Sure. "a non-conscious client app sets non consistent [filters] and [dataSource] data" means eg.:

Let's say a user made a typo and his [filters] is not a subset of [dataSource]. In the barista exmple example:
https://stackblitz.com/github/dynatrace-oss/barista-examples/tree/master/examples/DtExampleFilterFieldProgrammaticFilters/
 it could be:
// TYPO Filter AUT -> Los Angeles
[this.DATA.a

[2020-07-17 09:18] tomheller commented on #1256
// TYPO Filter AUT -> Los Angeles
[this.DATA.autocomplete[0], this.DATA.autocomplete[1] .autocomplete![1]],

Yes, this is correct. If the consumer (developer) provides the filter-field with inconsistent data, the filter field accepts these values. Especially because we need to deal with filters being settable, without the datasource being fully loaded.

Pardon if I'm not quite following, but what

[2020-07-17 11:09] ap-dyna commented on #1256
This is my understanding of the flow:

@tomheller: 'Additionally, what would you expect to happen in the following scenarios: The new dataset that gets loaded does not contain the filter definition the user is currently editing? In your case the range one? Does the filter field reset completely?'
@ap-dyna: 'Having the filteringInFlight event, a conscious filter client app would set appropriate [fi

[2020-07-17 11:43] tomheller commented on #1256
@ap-dyna Now I think I understand. If a range is currently open, and a new data is set to the filter field data source that does no longer contain the currently open range, the range should close and the current filter reset?

[2020-07-17 12:00] areknow commented on #1305
@ffriedl89 Sure that makes sense, thank you for the explanation about the even handler!

@gselltho I can confirm that my application is using viewEngine.

Thanks guys!

[2020-07-17 12:49] areknow commented on #1305
@tomheller I just enabled Ivy in my app but I am still seeing the ExpressionChangedAfterChecked error. Maybe there is something else going on?

[2020-07-17 13:09] ffriedl89 opened #1315 "Display web component READMEs in next app"
# Feature Request

## Summary

Similar to what we are doing with the readmes from the angular-components we want to display the readme files from the fluid-elements subcomponents inside the next app.

## Feature Description

Each README file for a web component should have a page inside the next app.

For the fluid-button - I'd like to have a page e.g. /components/button containing the content of

[2020-07-17 14:18] areknow commented on #1305
Another interesting update: The error is only happening to me locally. After building it in dev through our pipeline (jenkins), the error is not visible in the dev env.

Locally I did a full `npm ci` but I'm still seeing the error. Is there another cache that should be cleared?

Thanks!

[2020-07-19 00:31] #755 closed

[2020-07-20 00:30] #871 closed

[2020-07-20 05:36] #1299 closed

[2020-07-20 06:01] lukasholzer commented on #901
@ffriedl89 should we tackle this?

[2020-07-20 06:33] ffriedl89 commented on #901
@lukasholzer Yeah let's try to tackle this :)

[2020-07-20 07:20] #999 closed

[2020-07-20 07:56] tomheller commented on #901
Please consider not sending a notification for passing builds. This could get spammy real quick, and will be quickly glanced over

[2020-07-20 08:22] lukasholzer commented on #1305
@areknow can you try building the app locally with AOT? (Ahead of time compilation). You can enable this by setting the `aot` property in the `angular.json` to true or by passing `--aot` to the `ng serve ...` command.

I think this is an JIT (just in time) compilation problem – that should be the reason why you don't see it in your dev environment.

[2020-07-20 08:24] tomheller commented on #1305
For the record, there is also a call-sync scheduled to investigate this issue further. Thanks @areknow for setting this up.

[2020-07-20 08:27] lukasholzer opened #1318 "Bazel: Investigate remote cache hits."
I think we might have some problems with the remote cache hits on the CI. The test runs should be cached from the ci. https://github.com/dynatrace-oss/barista/pull/1308#issuecomment-660806288

![image](https://user-images.githubusercontent.com/11156362/87916299-8afb5b80-ca73-11ea-88a4-3b648b1aec9f.png)

button, core and icon should be cached as they were not touched and should be already built by

[2020-07-20 08:29] rowa-audil opened #1319 "[tab]: Focus bug on click, Tabindex on wrong tab when programatically removing currently focused tab item"
# Bug Report

Found some bugs in the tab component.

## Expected Behavior

- Focus style should only apply when the user tabbed to the tab-list/a tab item
- The focusable element should always be an existing tab item

## Current Behavior

- The tab gets the focus outline when clicked.
- The focus stays on the tab which is removed programatically

## Possible Solution

## Steps to Reproduce

1. Ser

[2020-07-20 08:41] ffriedl89 commented on #544
I've continued some research to have storybook working for our web components based on the open-wc storybook prebuilt setup.
I want to leverage storybook for our web components - this would eliminate the need to create our own dev app again, but instead rely on tooling to do this for us.

I'll try to get a working prototype running

[2020-07-20 08:49] #1222 closed

[2020-07-20 10:19] lukasholzer commented on #544
@ffriedl89 do you mind doing it with bazel? As we don't have to migrate it then – and all prerequisite are done for it.

[2020-07-20 10:55] tomheller opened #1321 "[Filter field]: Add information about interaction level on the filter field."
# Feature Request

## Summary

Add an `@Output` and a property to the filter field that indicates whether the user is currently using the filter field. This will help consumers to determine when it is safe to update filter-definitions (datasource) without crashing the user flow of the user.

The output can be useful to react to changes in the interaction-behaviour, whereas the property can be used

[2020-07-20 10:56] tomheller commented on #1256
Is considered fixed by #1317 and the follow up of #1321

[2020-07-20 10:56] #1256 closed

[2020-07-20 11:09] tomheller opened #1322 "[checkbox, switch]: Add value property to the component"
# Feature Request

## Summary

As form controls the checkbox and switch should have a value property, as defined on the native elements as well.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/checkbox#Value

[2020-07-20 12:08] NinaKammerlander commented on #1213
I did some research on how other websites deal with having a top nav and a side nav in their mobile version. I found the following approaches:

- No side nav in the mobile version
- Having 2 navs (e.g. top nav accessible from the top left corner, side nav content from top right corner)
- Merging everything into one navigation (e.g. having one navigation with collapsible items for subpages or displ

[2020-07-20 14:50] lukasholzer opened #1335 "Flaky e2e test on hover for sunburst chart"
# Bug Report

Currently, the attached e2e test is failing very often on the ci it can be fixed by reducing the speed of the hover from `1` to `0.1` which ich more a natural hover behaviour. Speed `1` is the default and maximum and so incredible fast that you nearly cannot see it.

## Attachments

![image](https://user-images.githubusercontent.com/11156362/87951327-b77d9a80-caa8-11ea-9064-00baa772a

[2020-07-20 15:41] areknow commented on #1305
@lukasholzer thanks for the reply!
I tried adding `aot: true` to the serve build config in angular.json and I also tried adding the `--aot` flag to the serve command. I still see the error locally 😅

[2020-07-21 05:49] tomheller commented on #1305
This is getting really weird. We have also tried this in our development application with every possible permutation of `ivy: on|off` and `viewEngine: on|off`, and we still were not able to reproduce the error. But we can see this in stackblitz and are quite baffled on why this is happening. I'm looking forward to our call @areknow. Maybe if we put our heads together, we can figure out what is goi

[2020-07-21 07:02] tomheller opened #1340 "Bazel: Make result output visible on CI."
# Bug Report

When a bazel run on the CI fails (right now primarily stylelint tasks), there is no way to see the output on Circle CI.
I have to rerun the whole thing locally again (given one knows how to) and know where the output logs are, to figure out why the stylelint fails.

## Expected Behavior

CircleCI gives me a way to view the linting errors, so one does not have to duplicate the effort

[2020-07-21 07:43] lukasholzer commented on #1340
@tomheller thank you very much for opening the issue :)

[2020-07-21 08:35] ffriedl89 commented on #1296
Hold off until #1276 is merged to not introduce merge conflicts

[2020-07-21 08:39] ffriedl89 commented on #901
Use slack-notification-token on ci env

[2020-07-21 11:05] subarroca commented on #1206
For the list of checkboxes I'm thinking of using the ReactiveFormsModule, but I see that we're not using it anywhere on the filter. Is there a reason for that so I should avoid it or am I able to use it? @thomaspink @tomheller

[2020-07-21 11:20] tomheller commented on #1206
You can use it if you want to, or create your own selectionModel from cdk as @dt-mafe does in his pr about the selectable rows #1052

[2020-07-21 12:03] areknow commented on #1305
@tomheller sounds good!

[2020-07-21 13:23] furtnerl commented on #1318
After quite some research it drills down to being a rather simple problem.
The service user we use to push cache objects had rights to read and write object to our caching backend but not to alter objects.
After equipping the user with sufficient rights I was able to achieve 100% cache hits locally and on my little private CI that is based on Kubernetes Pods as executors. Will check the latest Cir

[2020-07-22 00:30] #885 closed

[2020-07-22 05:30] ursula-wieshofer commented on #1070
@tomheller I'd suggest to leave the background for the hover state and for the selected entry remove the background and use bold font ;)

[2020-07-22 07:12] #1314 closed

[2020-07-22 07:18] ap-dyna commented on #1321
Hi @tomheller,
This description looks good and I see the @Output+property combination as useful.
(As for the naming, I will stick to your Barista conventions).

[2020-07-22 07:31] #1340 closed

[2020-07-22 08:43] dominikmessner opened #1346 "Container-breakpoint-observer: Exception in MS Edge 45"
# Bug Report

## Expected Behavior

Edge should react to queries.

## Current Behavior

Exception:
`The provided query "(min-width: 460px)" is not valid. Make sure to your query is wrapped in brackets. Only min and max queries are supported`

## Possible Solution

It works in Edge Chromium, which was officially rolled out to all users in June AFAIK, so I think it would be sufficient to ignore thes

[2020-07-22 08:53] thomaspink commented on #1346
Issue:
Edge (Non Chromium) returns a different value for the following code as the other browser:
[code]

Needs to be fixed here:
https://github.com/dynatrace-oss/barista/blob/3a23c27f9c8b016f0fb55ccd7eaea4aa51b9fd37/libs/barista-components/container-breakpoint-observer/src/query.ts#L59

[2020-07-22 09:12] tomheller commented on #1070
@ursula-wieshofer Alright, that leaves us with the following setup:

_selected_: No background, font bold
_hover_: background, font regular
_keyboardFocused_: background ?, font ?

Do we need to differentiate between hover and keyboard focus or should they look the same?

[2020-07-22 09:17] tomheller commented on #1318
@furtnerl After the sync today, this issue seems to be fixed, right?

[2020-07-22 10:15] #1335 closed

[2020-07-22 11:21] #1250 closed

[2020-07-22 12:50] tomheller opened #1349 "Design system outlet with SSG and storybook examples"
## Idea

Investigate if it would be feasible to replace the design-system outlet with a static site generator (i.e. 11ty) and examples built with storybook and included as iframes.

## Things we need to discuss

* Is this a good idea at all, do we have any blockers that would prevent us from doing this?
  - The mockup for some changes to the design system outlet is in a very early stage, so it is

[2020-07-22 13:35] lukasholzer commented on #1349
Definetly "Yes" as it is our build tool and will replace the angular cli completely in the future. From the perspective of fast incremental build we would only gain advantages from bazel as it could handle the typescript, scss and javascript compilation.  11y should only be orchestrated in the bazel pipeline to generate the pages.

[2020-07-22 14:26] tomheller commented on #1349
@lukasholzer We will definitely need your help on the bazel things then, I have no idea where to start with this.

[2020-07-22 18:55] airime opened #1352 "Sunburst chart text labels cut off"
# Bug Report

## Expected Behavior

Text labels of chart should be displayed without cutting.
![Screenshot 2020-07-22 at 19 29 52](https://user-images.githubusercontent.com/6683824/88208759-fe5ac400-cc51-11ea-9091-cd60cb134ce7.png)

## Current Behavior

Text labels can cut off when children are expanded.
![Screenshot 2020-07-22 at 19 25 57](https://user-images.githubusercontent.com/6683824/8820869

[2020-07-22 21:08] areknow opened #1353 "[Table] Using dtExpandableRowContent and dtSort together creates rows with spacing"
# Bug Report

Hi team, I noticed today that since upgrading to v7.4.0, a new issue is present with the DtTable that uses DtSort along with DtExpandableRowContent.

<img width="1516" alt="Screen Shot 2020-07-22 at 5 02 35 PM" src="https://user-images.githubusercontent.com/6361609/88228639-75399200-cc3d-11ea-8fe0-73fe108c579e.png">

For some reason I am NOT able to reproduce the bug in stackblitz. O

[2020-07-23 04:58] lukasholzer commented on #1352
Thank you for reporting this issue @airime do you want to contribute this fix?

To mention another possible solution would be to ellipsis the text like `AOL Explo...` as I don't know how long these labels can be. Think about some weird long hostnames that can take up to 60 characters I don't think `overflow: visible` would be then that nice. Maybe a max-width that is a little bit longer than the c

[2020-07-23 04:59] #1318 closed

[2020-07-23 05:00] lukasholzer commented on #1349
@tomheller for sure let's sync up today then I can elaborate you my point of view a little bit better. :)

[2020-07-23 05:01] lukasholzer commented on #1353
Thank you for reporting this issue! Do you want to contribute the fix to the library @areknow?

[2020-07-23 05:02] lukasholzer commented on #1346
@dominikmessner do you want to contribute the fix?

[2020-07-23 05:33] tomheller commented on #1352
Neither option is really a good one. `Overflow: visible` would let the text flow out of it's container and therefore would probably be able to flow over other components that are next to it.

The ellipsis part is also a bit tricky, as it is an svg text element that does not easily follow the default reflowing rules of the box model.

The most resilient solution would be to have an algorithm figure

[2020-07-23 05:43] tomheller opened #1354 "All Bazel tasks fail on PRs from forks"
# Bug Report

It seems that all bazel related tasks are failing in the CI for pull requests that are coming in from forks.

![image](https://user-images.githubusercontent.com/6338434/88255146-ec137100-ccb7-11ea-9380-ee3f09aa8b9a.png)

## Expected Behavior

As we rely more and more on contributions, these checks should also work for pull requests from forks.
It is very confusing to contributors to

[2020-07-23 06:32] subarroca commented on #1352
My approach would be making the chart wider. Right now it's a 1:1 ratio, taking it to 4:3 ratio, for instance, would allow us to move the labels a bit more outside. It's true that this would reduce the size of the chart a bit but I don't think it's critical.
Also, regarding long labels, giving this extra space would reduce the overlap label-slice, and if we add the limitation of n-chars and we cut

[2020-07-23 07:13] tomheller commented on #1352
Making the chart wider will be a temporary fix, but I do believe that we should strive for a solution that would work even for long labels. It would be fine with me if we adjust the aspect ratio of the chart and add some scripted ellipses into the labels for ones that are very long.

[2020-07-23 07:52] #1354 closed

[2020-07-23 07:57] #1210 closed

[2020-07-23 12:49] #1258 closed

[2020-07-23 12:51] areknow commented on #1305
@tomheller I was able to reproduce the issue in a fresh project: https://github.com/areknow/barista-quick-filter-bug

Still happy to meet at our planned time 👍

[2020-07-23 12:57] tomheller commented on #1353
@areknow I found the root cause for that problem, which seems to be tied to the internal rendering scheme of the table and the angular animation used to set the expand / collapse states.
I'm currently trying to figure out how we can circumvent this issue.

[2020-07-23 17:25] samuelfahrngruber commented on #1346
The fix from the above pull request will fix the error in the query parsing logic.

However, after verifying the change on MS Edge locally, the `container-breakdown-observer` does still not work. There is no error in the console anymore, but the breakpoint won't trigger either. Firefox and Chrome work fine.

I suspect there is another problem occurring in MS Edge when actually detecting the breakp

[2020-07-24 05:52] tomheller commented on #1305
Thanks to @areknow we were able to track down the source of the problem in the setup he provided. Unfortunately we  are still not able to reproduce it in any of our applications within the repository, which is somewhat worry-some.

[2020-07-25 14:57] gabrielprioli opened #1368 "Page not found in section "card layout""
Sorry if this shouldn't be a bug report, but I though it was better than Feature request.

# Bug Report

## Expected Behavior

The link "layout pattern" in section https://barista.dynatrace.com/components/card#card-in-use should be valid.

## Current Behavior

Link returns a page not found error.
[code]
## Possible Solution

## Steps to Reproduce

1. Access https://barista.dynatrace.com/components

[2020-07-26 00:32] #287 closed

[2020-07-27 06:19] tomheller commented on #1368
HI @gabrielprioli!

Thank you for reporting this. This can be considered a bug though, this is fine.
The page that we are linking to here is considered `internal`, so the page should not be found. I'm currently in the process of replacing the link with a correct one, so that it will be picked up by the internal content filter.

[2020-07-27 06:23] #1305 closed

[2020-07-27 08:49] tomheller commented on #1368
The issue has been resolved, the link is now removed as the target page is not inside the public pages set.

[2020-07-27 08:49] #1368 closed

[2020-07-27 12:24] #1322 closed

[2020-07-27 12:50] #1346 closed

[2020-07-27 13:06] #1245 closed

[2020-07-27 13:09] #1052 closed

[2020-07-27 13:20] #1353 closed

[2020-07-28 00:31] #765 closed

[2020-07-28 00:37] areknow opened #1383 "[Quick Filter] Radio buttons invisible after upgrade to 7.5.0"
# Bug Report

Hi team,
I noticed that after the 7.5.0 upgrade, the radio buttons in the quick filter are no longer visible. They are however still selectable. I think this is due to the recent change to custom properties styling, but I may be incorrect.

<img width="492" alt="Screen Shot 2020-07-27 at 8 35 07 PM" src="https://user-images.githubusercontent.com/6361609/88605687-ab658000-d048-11ea-99

[2020-07-28 05:44] tomheller commented on #1383
Thanks @areknow! I'll check immediately. We were planning on releasing 7.6 soon anyways, as we missed a feature in the release yesterday. I'll see if we can get this done.

[2020-07-28 06:53] ffriedl89 opened #1386 "Research: Web components & Forms"
# Feature Request

## Summary

Webcomponents don't play nice with the native form tag. Therefore web component libraries like [shoelace](https://shoelace.style/components/form) or [lion](https://github.com/ing-bank/lion/tree/master/packages/form) use custom form tags to handle the interop between custom form elements and the form.

## Feature Description

### Why?

Research what we need in terms o

[2020-07-28 07:25] ursula-wieshofer commented on #1070
Up until now we never differentiated between hover and keyboard focus. I'd suggest to apply the same look, as I never saw a big problem here.

[2020-07-28 07:56] #1383 closed

[2020-07-28 08:00] rowa-audil commented on #1070
@schobocop We also need highlighting for keyboard support. That's why the first entry is already highlighted.
We are going to add a distinction between selected and focused/hovered as stated in the discussion with @ursula-wieshofer

[2020-07-28 08:05] #1259 closed

[2020-07-28 08:12] rowa-audil commented on #1070
@ursula-wieshofer Well we do need a distinction between keyboard selected and hovered styles. Currently both of them are highlighted the same.

[2020-07-28 09:06] rowa-audil commented on #1070
Maybe underlining the keyboard selected option might be the trick.

<img width="143" alt="image" src="https://user-images.githubusercontent.com/57528898/88643631-38005480-d0c2-11ea-9553-9dc7e513b50d.png">

@ffriedl89 @tomheller @ursula-wieshofer What do you think?

[2020-07-28 11:03] ffriedl89 opened #1388 "Research: Combobox / Select as webcomponents"
# Feature Request

## Summary

We need to research how we invision the API for the select / combobox to look like in a web component world.

## Feature Description

A select or combobox can potentially be the same component, but maybe we want to split them apart. This is very much undecided yet.

Compare different component libraries / design system approaches to a combobox/select component and co

[2020-07-28 11:09] ffriedl89 commented on #1321
I can see both the ouput and the boolean property being useful. I am also not quite convinced about the naming tbh.
Maybe
`@Output() userInteractionChange` for the output
`userInteracting` or `isUserInteracting` for the boolean flag

[2020-07-28 11:54] areknow commented on #1383
Thanks @tomheller!

[2020-07-28 13:10] tomheller commented on #1383
@areknow As a workaround you can make sure that there is a theme set in your app, which will mitigate the issue.

[2020-07-28 13:48] areknow commented on #1383
@tomheller can confirm that setting a theme at the app.component.html level does work 😄
Thanks